@import "tailwindcss";
@import "./generated/colors.css";
@import "./xterm-tweaks.css";

@font-face {
  font-family: 'MapleMono';
  src: url('./assets/fonts/MapleMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MapleMono';
  src: url('./assets/fonts/MapleMono-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'MapleMono';
  src: url('./assets/fonts/MapleMono-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MapleMono';
  src: url('./assets/fonts/MapleMono-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'MapleMono';
  src: url('./assets/fonts/MapleMono-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'MapleMono';
  src: url('./assets/fonts/MapleMono-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

/* Custom thin scrollbar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
	border-radius: 4px;
  	background: var(--bg-300-20);
}

::-webkit-scrollbar-thumb {
  background-color: var(--fg-500);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--fg-600);
}

@font-face {
	font-family: "JetBrainsMono Nerd Font";
	src: url("/fonts/JetBrainsMonoNerdFont-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "JetBrainsMono Nerd Font";
	src: url("/fonts/JetBrainsMonoNerdFont-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: "FiraCode Nerd Font";
	src: url("/fonts/FiraCodeNerdFont-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "FiraCode Nerd Font";
	src: url("/fonts/FiraCodeNerdFont-Bold.ttf") format("truetype");
	font-weight: 700;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	background: transparent;
	overflow: hidden;
}

#root {
	height: 100vh;
	width: 100vw;
	border-radius: 8px;
	overflow: hidden;
}

/* I know, terrible practice, yada yada. That's my IDE, I decide */
*:focus {
	outline: none;
}

@theme {
	--font-sans: "Satoshi", sans-serif;
	--font-mono: "JetBrainsMono Nerd Font", "FiraCode Nerd Font", "MapleMono", "Hack Nerd Font", "MesloLGS NF", "Space Mono", "SF Mono", Monaco, "Cascadia Code", "Roboto Mono",
		Consolas, "Courier New", monospace;
}

@keyframes fadeIn {
	from {
		transform: scale(0.99);
		opacity: 0;
	}

	to {
		transform: scale(1);
		opacity: 1;
	}
}

.animate-fade-in {
	animation: fadeIn 0.5s ease-out forwards;
}

@plugin 'tailwind-scrollbar';