/* Custom scrollbar & transparency styling for xterm terminals */
.xterm,
.xterm .xterm-screen,
.xterm .xterm-screen canvas,
.xterm .xterm-viewport {
	background-color: transparent !important;
}

/* Scrollbar styling */

/* Hide default WebKit scrollbar track */
.xterm .xterm-viewport::-webkit-scrollbar {
	width: 8px; /* change to 0px to hide completely */
	background: transparent;
}

/* Thumb (the draggable part) */
.xterm .xterm-viewport::-webkit-scrollbar-thumb {
	background-color: var(--fg-800-20);
	border-radius: 4px;
}

.xterm .xterm-viewport::-webkit-scrollbar-thumb:hover {
	background-color: var(--fg-100-20);
	border-radius: 4px;
}

/* No track background */
.xterm .xterm-viewport::-webkit-scrollbar-track {
	background: transparent;
}
