:root {
  --bg-100: #EAFAFF;
  --bg-100-05: rgb(234 250 255 / 0.05);
  --bg-100-10: rgb(234 250 255 / 0.10);
  --bg-100-100: rgb(234 250 255 / 1.00);
  --bg-100-15: rgb(234 250 255 / 0.15);
  --bg-100-20: rgb(234 250 255 / 0.20);
  --bg-100-25: rgb(234 250 255 / 0.25);
  --bg-100-30: rgb(234 250 255 / 0.30);
  --bg-100-35: rgb(234 250 255 / 0.35);
  --bg-100-40: rgb(234 250 255 / 0.40);
  --bg-100-45: rgb(234 250 255 / 0.45);
  --bg-100-50: rgb(234 250 255 / 0.50);
  --bg-100-55: rgb(234 250 255 / 0.55);
  --bg-100-60: rgb(234 250 255 / 0.60);
  --bg-100-65: rgb(234 250 255 / 0.65);
  --bg-100-70: rgb(234 250 255 / 0.70);
  --bg-100-75: rgb(234 250 255 / 0.75);
  --bg-100-80: rgb(234 250 255 / 0.80);
  --bg-100-85: rgb(234 250 255 / 0.85);
  --bg-100-90: rgb(234 250 255 / 0.90);
  --bg-100-95: rgb(234 250 255 / 0.95);
  --bg-200: #E5F3FF;
  --bg-200-05: rgb(229 243 255 / 0.05);
  --bg-200-10: rgb(229 243 255 / 0.10);
  --bg-200-100: rgb(229 243 255 / 1.00);
  --bg-200-15: rgb(229 243 255 / 0.15);
  --bg-200-20: rgb(229 243 255 / 0.20);
  --bg-200-25: rgb(229 243 255 / 0.25);
  --bg-200-30: rgb(229 243 255 / 0.30);
  --bg-200-35: rgb(229 243 255 / 0.35);
  --bg-200-40: rgb(229 243 255 / 0.40);
  --bg-200-45: rgb(229 243 255 / 0.45);
  --bg-200-50: rgb(229 243 255 / 0.50);
  --bg-200-55: rgb(229 243 255 / 0.55);
  --bg-200-60: rgb(229 243 255 / 0.60);
  --bg-200-65: rgb(229 243 255 / 0.65);
  --bg-200-70: rgb(229 243 255 / 0.70);
  --bg-200-75: rgb(229 243 255 / 0.75);
  --bg-200-80: rgb(229 243 255 / 0.80);
  --bg-200-85: rgb(229 243 255 / 0.85);
  --bg-200-90: rgb(229 243 255 / 0.90);
  --bg-200-95: rgb(229 243 255 / 0.95);
  --bg-300: #E0ECFF;
  --bg-300-05: rgb(224 236 255 / 0.05);
  --bg-300-10: rgb(224 236 255 / 0.10);
  --bg-300-100: rgb(224 236 255 / 1.00);
  --bg-300-15: rgb(224 236 255 / 0.15);
  --bg-300-20: rgb(224 236 255 / 0.20);
  --bg-300-25: rgb(224 236 255 / 0.25);
  --bg-300-30: rgb(224 236 255 / 0.30);
  --bg-300-35: rgb(224 236 255 / 0.35);
  --bg-300-40: rgb(224 236 255 / 0.40);
  --bg-300-45: rgb(224 236 255 / 0.45);
  --bg-300-50: rgb(224 236 255 / 0.50);
  --bg-300-55: rgb(224 236 255 / 0.55);
  --bg-300-60: rgb(224 236 255 / 0.60);
  --bg-300-65: rgb(224 236 255 / 0.65);
  --bg-300-70: rgb(224 236 255 / 0.70);
  --bg-300-75: rgb(224 236 255 / 0.75);
  --bg-300-80: rgb(224 236 255 / 0.80);
  --bg-300-85: rgb(224 236 255 / 0.85);
  --bg-300-90: rgb(224 236 255 / 0.90);
  --bg-300-95: rgb(224 236 255 / 0.95);
  --bg-400: #DCE4FF;
  --bg-400-05: rgb(220 228 255 / 0.05);
  --bg-400-10: rgb(220 228 255 / 0.10);
  --bg-400-100: rgb(220 228 255 / 1.00);
  --bg-400-15: rgb(220 228 255 / 0.15);
  --bg-400-20: rgb(220 228 255 / 0.20);
  --bg-400-25: rgb(220 228 255 / 0.25);
  --bg-400-30: rgb(220 228 255 / 0.30);
  --bg-400-35: rgb(220 228 255 / 0.35);
  --bg-400-40: rgb(220 228 255 / 0.40);
  --bg-400-45: rgb(220 228 255 / 0.45);
  --bg-400-50: rgb(220 228 255 / 0.50);
  --bg-400-55: rgb(220 228 255 / 0.55);
  --bg-400-60: rgb(220 228 255 / 0.60);
  --bg-400-65: rgb(220 228 255 / 0.65);
  --bg-400-70: rgb(220 228 255 / 0.70);
  --bg-400-75: rgb(220 228 255 / 0.75);
  --bg-400-80: rgb(220 228 255 / 0.80);
  --bg-400-85: rgb(220 228 255 / 0.85);
  --bg-400-90: rgb(220 228 255 / 0.90);
  --bg-400-95: rgb(220 228 255 / 0.95);
  --bg-500: #D5D9FF;
  --bg-500-05: rgb(213 217 255 / 0.05);
  --bg-500-10: rgb(213 217 255 / 0.10);
  --bg-500-100: rgb(213 217 255 / 1.00);
  --bg-500-15: rgb(213 217 255 / 0.15);
  --bg-500-20: rgb(213 217 255 / 0.20);
  --bg-500-25: rgb(213 217 255 / 0.25);
  --bg-500-30: rgb(213 217 255 / 0.30);
  --bg-500-35: rgb(213 217 255 / 0.35);
  --bg-500-40: rgb(213 217 255 / 0.40);
  --bg-500-45: rgb(213 217 255 / 0.45);
  --bg-500-50: rgb(213 217 255 / 0.50);
  --bg-500-55: rgb(213 217 255 / 0.55);
  --bg-500-60: rgb(213 217 255 / 0.60);
  --bg-500-65: rgb(213 217 255 / 0.65);
  --bg-500-70: rgb(213 217 255 / 0.70);
  --bg-500-75: rgb(213 217 255 / 0.75);
  --bg-500-80: rgb(213 217 255 / 0.80);
  --bg-500-85: rgb(213 217 255 / 0.85);
  --bg-500-90: rgb(213 217 255 / 0.90);
  --bg-500-95: rgb(213 217 255 / 0.95);
  --bg-600: #C3C6ED;
  --bg-600-05: rgb(195 198 237 / 0.05);
  --bg-600-10: rgb(195 198 237 / 0.10);
  --bg-600-100: rgb(195 198 237 / 1.00);
  --bg-600-15: rgb(195 198 237 / 0.15);
  --bg-600-20: rgb(195 198 237 / 0.20);
  --bg-600-25: rgb(195 198 237 / 0.25);
  --bg-600-30: rgb(195 198 237 / 0.30);
  --bg-600-35: rgb(195 198 237 / 0.35);
  --bg-600-40: rgb(195 198 237 / 0.40);
  --bg-600-45: rgb(195 198 237 / 0.45);
  --bg-600-50: rgb(195 198 237 / 0.50);
  --bg-600-55: rgb(195 198 237 / 0.55);
  --bg-600-60: rgb(195 198 237 / 0.60);
  --bg-600-65: rgb(195 198 237 / 0.65);
  --bg-600-70: rgb(195 198 237 / 0.70);
  --bg-600-75: rgb(195 198 237 / 0.75);
  --bg-600-80: rgb(195 198 237 / 0.80);
  --bg-600-85: rgb(195 198 237 / 0.85);
  --bg-600-90: rgb(195 198 237 / 0.90);
  --bg-600-95: rgb(195 198 237 / 0.95);
  --bg-700: #B0B3DB;
  --bg-700-05: rgb(176 179 219 / 0.05);
  --bg-700-10: rgb(176 179 219 / 0.10);
  --bg-700-100: rgb(176 179 219 / 1.00);
  --bg-700-15: rgb(176 179 219 / 0.15);
  --bg-700-20: rgb(176 179 219 / 0.20);
  --bg-700-25: rgb(176 179 219 / 0.25);
  --bg-700-30: rgb(176 179 219 / 0.30);
  --bg-700-35: rgb(176 179 219 / 0.35);
  --bg-700-40: rgb(176 179 219 / 0.40);
  --bg-700-45: rgb(176 179 219 / 0.45);
  --bg-700-50: rgb(176 179 219 / 0.50);
  --bg-700-55: rgb(176 179 219 / 0.55);
  --bg-700-60: rgb(176 179 219 / 0.60);
  --bg-700-65: rgb(176 179 219 / 0.65);
  --bg-700-70: rgb(176 179 219 / 0.70);
  --bg-700-75: rgb(176 179 219 / 0.75);
  --bg-700-80: rgb(176 179 219 / 0.80);
  --bg-700-85: rgb(176 179 219 / 0.85);
  --bg-700-90: rgb(176 179 219 / 0.90);
  --bg-700-95: rgb(176 179 219 / 0.95);
  --bg-800: #9EA0CA;
  --bg-800-05: rgb(158 160 202 / 0.05);
  --bg-800-10: rgb(158 160 202 / 0.10);
  --bg-800-100: rgb(158 160 202 / 1.00);
  --bg-800-15: rgb(158 160 202 / 0.15);
  --bg-800-20: rgb(158 160 202 / 0.20);
  --bg-800-25: rgb(158 160 202 / 0.25);
  --bg-800-30: rgb(158 160 202 / 0.30);
  --bg-800-35: rgb(158 160 202 / 0.35);
  --bg-800-40: rgb(158 160 202 / 0.40);
  --bg-800-45: rgb(158 160 202 / 0.45);
  --bg-800-50: rgb(158 160 202 / 0.50);
  --bg-800-55: rgb(158 160 202 / 0.55);
  --bg-800-60: rgb(158 160 202 / 0.60);
  --bg-800-65: rgb(158 160 202 / 0.65);
  --bg-800-70: rgb(158 160 202 / 0.70);
  --bg-800-75: rgb(158 160 202 / 0.75);
  --bg-800-80: rgb(158 160 202 / 0.80);
  --bg-800-85: rgb(158 160 202 / 0.85);
  --bg-800-90: rgb(158 160 202 / 0.90);
  --bg-800-95: rgb(158 160 202 / 0.95);
  --bg-900: #8C8DB8;
  --bg-900-05: rgb(140 141 184 / 0.05);
  --bg-900-10: rgb(140 141 184 / 0.10);
  --bg-900-100: rgb(140 141 184 / 1.00);
  --bg-900-15: rgb(140 141 184 / 0.15);
  --bg-900-20: rgb(140 141 184 / 0.20);
  --bg-900-25: rgb(140 141 184 / 0.25);
  --bg-900-30: rgb(140 141 184 / 0.30);
  --bg-900-35: rgb(140 141 184 / 0.35);
  --bg-900-40: rgb(140 141 184 / 0.40);
  --bg-900-45: rgb(140 141 184 / 0.45);
  --bg-900-50: rgb(140 141 184 / 0.50);
  --bg-900-55: rgb(140 141 184 / 0.55);
  --bg-900-60: rgb(140 141 184 / 0.60);
  --bg-900-65: rgb(140 141 184 / 0.65);
  --bg-900-70: rgb(140 141 184 / 0.70);
  --bg-900-75: rgb(140 141 184 / 0.75);
  --bg-900-80: rgb(140 141 184 / 0.80);
  --bg-900-85: rgb(140 141 184 / 0.85);
  --bg-900-90: rgb(140 141 184 / 0.90);
  --bg-900-95: rgb(140 141 184 / 0.95);
  --blackest: #1e1a4d;
  --blackest-05: rgb(30 26 77 / 0.05);
  --blackest-10: rgb(30 26 77 / 0.10);
  --blackest-100: rgb(30 26 77 / 1.00);
  --blackest-15: rgb(30 26 77 / 0.15);
  --blackest-20: rgb(30 26 77 / 0.20);
  --blackest-25: rgb(30 26 77 / 0.25);
  --blackest-30: rgb(30 26 77 / 0.30);
  --blackest-35: rgb(30 26 77 / 0.35);
  --blackest-40: rgb(30 26 77 / 0.40);
  --blackest-45: rgb(30 26 77 / 0.45);
  --blackest-50: rgb(30 26 77 / 0.50);
  --blackest-55: rgb(30 26 77 / 0.55);
  --blackest-60: rgb(30 26 77 / 0.60);
  --blackest-65: rgb(30 26 77 / 0.65);
  --blackest-70: rgb(30 26 77 / 0.70);
  --blackest-75: rgb(30 26 77 / 0.75);
  --blackest-80: rgb(30 26 77 / 0.80);
  --blackest-85: rgb(30 26 77 / 0.85);
  --blackest-90: rgb(30 26 77 / 0.90);
  --blackest-95: rgb(30 26 77 / 0.95);
  --fg-100: #D7EAF4;
  --fg-100-05: rgb(215 234 244 / 0.05);
  --fg-100-10: rgb(215 234 244 / 0.10);
  --fg-100-100: rgb(215 234 244 / 1.00);
  --fg-100-15: rgb(215 234 244 / 0.15);
  --fg-100-20: rgb(215 234 244 / 0.20);
  --fg-100-25: rgb(215 234 244 / 0.25);
  --fg-100-30: rgb(215 234 244 / 0.30);
  --fg-100-35: rgb(215 234 244 / 0.35);
  --fg-100-40: rgb(215 234 244 / 0.40);
  --fg-100-45: rgb(215 234 244 / 0.45);
  --fg-100-50: rgb(215 234 244 / 0.50);
  --fg-100-55: rgb(215 234 244 / 0.55);
  --fg-100-60: rgb(215 234 244 / 0.60);
  --fg-100-65: rgb(215 234 244 / 0.65);
  --fg-100-70: rgb(215 234 244 / 0.70);
  --fg-100-75: rgb(215 234 244 / 0.75);
  --fg-100-80: rgb(215 234 244 / 0.80);
  --fg-100-85: rgb(215 234 244 / 0.85);
  --fg-100-90: rgb(215 234 244 / 0.90);
  --fg-100-95: rgb(215 234 244 / 0.95);
  --fg-200: #AEC3DD;
  --fg-200-05: rgb(174 195 221 / 0.05);
  --fg-200-10: rgb(174 195 221 / 0.10);
  --fg-200-100: rgb(174 195 221 / 1.00);
  --fg-200-15: rgb(174 195 221 / 0.15);
  --fg-200-20: rgb(174 195 221 / 0.20);
  --fg-200-25: rgb(174 195 221 / 0.25);
  --fg-200-30: rgb(174 195 221 / 0.30);
  --fg-200-35: rgb(174 195 221 / 0.35);
  --fg-200-40: rgb(174 195 221 / 0.40);
  --fg-200-45: rgb(174 195 221 / 0.45);
  --fg-200-50: rgb(174 195 221 / 0.50);
  --fg-200-55: rgb(174 195 221 / 0.55);
  --fg-200-60: rgb(174 195 221 / 0.60);
  --fg-200-65: rgb(174 195 221 / 0.65);
  --fg-200-70: rgb(174 195 221 / 0.70);
  --fg-200-75: rgb(174 195 221 / 0.75);
  --fg-200-80: rgb(174 195 221 / 0.80);
  --fg-200-85: rgb(174 195 221 / 0.85);
  --fg-200-90: rgb(174 195 221 / 0.90);
  --fg-200-95: rgb(174 195 221 / 0.95);
  --fg-300: #849CC6;
  --fg-300-05: rgb(132 156 198 / 0.05);
  --fg-300-10: rgb(132 156 198 / 0.10);
  --fg-300-100: rgb(132 156 198 / 1.00);
  --fg-300-15: rgb(132 156 198 / 0.15);
  --fg-300-20: rgb(132 156 198 / 0.20);
  --fg-300-25: rgb(132 156 198 / 0.25);
  --fg-300-30: rgb(132 156 198 / 0.30);
  --fg-300-35: rgb(132 156 198 / 0.35);
  --fg-300-40: rgb(132 156 198 / 0.40);
  --fg-300-45: rgb(132 156 198 / 0.45);
  --fg-300-50: rgb(132 156 198 / 0.50);
  --fg-300-55: rgb(132 156 198 / 0.55);
  --fg-300-60: rgb(132 156 198 / 0.60);
  --fg-300-65: rgb(132 156 198 / 0.65);
  --fg-300-70: rgb(132 156 198 / 0.70);
  --fg-300-75: rgb(132 156 198 / 0.75);
  --fg-300-80: rgb(132 156 198 / 0.80);
  --fg-300-85: rgb(132 156 198 / 0.85);
  --fg-300-90: rgb(132 156 198 / 0.90);
  --fg-300-95: rgb(132 156 198 / 0.95);
  --fg-400: #5A74B0;
  --fg-400-05: rgb(90 116 176 / 0.05);
  --fg-400-10: rgb(90 116 176 / 0.10);
  --fg-400-100: rgb(90 116 176 / 1.00);
  --fg-400-15: rgb(90 116 176 / 0.15);
  --fg-400-20: rgb(90 116 176 / 0.20);
  --fg-400-25: rgb(90 116 176 / 0.25);
  --fg-400-30: rgb(90 116 176 / 0.30);
  --fg-400-35: rgb(90 116 176 / 0.35);
  --fg-400-40: rgb(90 116 176 / 0.40);
  --fg-400-45: rgb(90 116 176 / 0.45);
  --fg-400-50: rgb(90 116 176 / 0.50);
  --fg-400-55: rgb(90 116 176 / 0.55);
  --fg-400-60: rgb(90 116 176 / 0.60);
  --fg-400-65: rgb(90 116 176 / 0.65);
  --fg-400-70: rgb(90 116 176 / 0.70);
  --fg-400-75: rgb(90 116 176 / 0.75);
  --fg-400-80: rgb(90 116 176 / 0.80);
  --fg-400-85: rgb(90 116 176 / 0.85);
  --fg-400-90: rgb(90 116 176 / 0.90);
  --fg-400-95: rgb(90 116 176 / 0.95);
  --fg-500: #1C398E;
  --fg-500-05: rgb(28 57 142 / 0.05);
  --fg-500-10: rgb(28 57 142 / 0.10);
  --fg-500-100: rgb(28 57 142 / 1.00);
  --fg-500-15: rgb(28 57 142 / 0.15);
  --fg-500-20: rgb(28 57 142 / 0.20);
  --fg-500-25: rgb(28 57 142 / 0.25);
  --fg-500-30: rgb(28 57 142 / 0.30);
  --fg-500-35: rgb(28 57 142 / 0.35);
  --fg-500-40: rgb(28 57 142 / 0.40);
  --fg-500-45: rgb(28 57 142 / 0.45);
  --fg-500-50: rgb(28 57 142 / 0.50);
  --fg-500-55: rgb(28 57 142 / 0.55);
  --fg-500-60: rgb(28 57 142 / 0.60);
  --fg-500-65: rgb(28 57 142 / 0.65);
  --fg-500-70: rgb(28 57 142 / 0.70);
  --fg-500-75: rgb(28 57 142 / 0.75);
  --fg-500-80: rgb(28 57 142 / 0.80);
  --fg-500-85: rgb(28 57 142 / 0.85);
  --fg-500-90: rgb(28 57 142 / 0.90);
  --fg-500-95: rgb(28 57 142 / 0.95);
  --fg-600: #1C3688;
  --fg-600-05: rgb(28 54 136 / 0.05);
  --fg-600-10: rgb(28 54 136 / 0.10);
  --fg-600-100: rgb(28 54 136 / 1.00);
  --fg-600-15: rgb(28 54 136 / 0.15);
  --fg-600-20: rgb(28 54 136 / 0.20);
  --fg-600-25: rgb(28 54 136 / 0.25);
  --fg-600-30: rgb(28 54 136 / 0.30);
  --fg-600-35: rgb(28 54 136 / 0.35);
  --fg-600-40: rgb(28 54 136 / 0.40);
  --fg-600-45: rgb(28 54 136 / 0.45);
  --fg-600-50: rgb(28 54 136 / 0.50);
  --fg-600-55: rgb(28 54 136 / 0.55);
  --fg-600-60: rgb(28 54 136 / 0.60);
  --fg-600-65: rgb(28 54 136 / 0.65);
  --fg-600-70: rgb(28 54 136 / 0.70);
  --fg-600-75: rgb(28 54 136 / 0.75);
  --fg-600-80: rgb(28 54 136 / 0.80);
  --fg-600-85: rgb(28 54 136 / 0.85);
  --fg-600-90: rgb(28 54 136 / 0.90);
  --fg-600-95: rgb(28 54 136 / 0.95);
  --fg-700: #1C3381;
  --fg-700-05: rgb(28 51 129 / 0.05);
  --fg-700-10: rgb(28 51 129 / 0.10);
  --fg-700-100: rgb(28 51 129 / 1.00);
  --fg-700-15: rgb(28 51 129 / 0.15);
  --fg-700-20: rgb(28 51 129 / 0.20);
  --fg-700-25: rgb(28 51 129 / 0.25);
  --fg-700-30: rgb(28 51 129 / 0.30);
  --fg-700-35: rgb(28 51 129 / 0.35);
  --fg-700-40: rgb(28 51 129 / 0.40);
  --fg-700-45: rgb(28 51 129 / 0.45);
  --fg-700-50: rgb(28 51 129 / 0.50);
  --fg-700-55: rgb(28 51 129 / 0.55);
  --fg-700-60: rgb(28 51 129 / 0.60);
  --fg-700-65: rgb(28 51 129 / 0.65);
  --fg-700-70: rgb(28 51 129 / 0.70);
  --fg-700-75: rgb(28 51 129 / 0.75);
  --fg-700-80: rgb(28 51 129 / 0.80);
  --fg-700-85: rgb(28 51 129 / 0.85);
  --fg-700-90: rgb(28 51 129 / 0.90);
  --fg-700-95: rgb(28 51 129 / 0.95);
  --fg-800: #1D307A;
  --fg-800-05: rgb(29 48 122 / 0.05);
  --fg-800-10: rgb(29 48 122 / 0.10);
  --fg-800-100: rgb(29 48 122 / 1.00);
  --fg-800-15: rgb(29 48 122 / 0.15);
  --fg-800-20: rgb(29 48 122 / 0.20);
  --fg-800-25: rgb(29 48 122 / 0.25);
  --fg-800-30: rgb(29 48 122 / 0.30);
  --fg-800-35: rgb(29 48 122 / 0.35);
  --fg-800-40: rgb(29 48 122 / 0.40);
  --fg-800-45: rgb(29 48 122 / 0.45);
  --fg-800-50: rgb(29 48 122 / 0.50);
  --fg-800-55: rgb(29 48 122 / 0.55);
  --fg-800-60: rgb(29 48 122 / 0.60);
  --fg-800-65: rgb(29 48 122 / 0.65);
  --fg-800-70: rgb(29 48 122 / 0.70);
  --fg-800-75: rgb(29 48 122 / 0.75);
  --fg-800-80: rgb(29 48 122 / 0.80);
  --fg-800-85: rgb(29 48 122 / 0.85);
  --fg-800-90: rgb(29 48 122 / 0.90);
  --fg-800-95: rgb(29 48 122 / 0.95);
  --fg-900: #1D2D74;
  --fg-900-05: rgb(29 45 116 / 0.05);
  --fg-900-10: rgb(29 45 116 / 0.10);
  --fg-900-100: rgb(29 45 116 / 1.00);
  --fg-900-15: rgb(29 45 116 / 0.15);
  --fg-900-20: rgb(29 45 116 / 0.20);
  --fg-900-25: rgb(29 45 116 / 0.25);
  --fg-900-30: rgb(29 45 116 / 0.30);
  --fg-900-35: rgb(29 45 116 / 0.35);
  --fg-900-40: rgb(29 45 116 / 0.40);
  --fg-900-45: rgb(29 45 116 / 0.45);
  --fg-900-50: rgb(29 45 116 / 0.50);
  --fg-900-55: rgb(29 45 116 / 0.55);
  --fg-900-60: rgb(29 45 116 / 0.60);
  --fg-900-65: rgb(29 45 116 / 0.65);
  --fg-900-70: rgb(29 45 116 / 0.70);
  --fg-900-75: rgb(29 45 116 / 0.75);
  --fg-900-80: rgb(29 45 116 / 0.80);
  --fg-900-85: rgb(29 45 116 / 0.85);
  --fg-900-90: rgb(29 45 116 / 0.90);
  --fg-900-95: rgb(29 45 116 / 0.95);
  --negative-500: #D84B32;
  --negative-500-05: rgb(216 75 50 / 0.05);
  --negative-500-10: rgb(216 75 50 / 0.10);
  --negative-500-100: rgb(216 75 50 / 1.00);
  --negative-500-15: rgb(216 75 50 / 0.15);
  --negative-500-20: rgb(216 75 50 / 0.20);
  --negative-500-25: rgb(216 75 50 / 0.25);
  --negative-500-30: rgb(216 75 50 / 0.30);
  --negative-500-35: rgb(216 75 50 / 0.35);
  --negative-500-40: rgb(216 75 50 / 0.40);
  --negative-500-45: rgb(216 75 50 / 0.45);
  --negative-500-50: rgb(216 75 50 / 0.50);
  --negative-500-55: rgb(216 75 50 / 0.55);
  --negative-500-60: rgb(216 75 50 / 0.60);
  --negative-500-65: rgb(216 75 50 / 0.65);
  --negative-500-70: rgb(216 75 50 / 0.70);
  --negative-500-75: rgb(216 75 50 / 0.75);
  --negative-500-80: rgb(216 75 50 / 0.80);
  --negative-500-85: rgb(216 75 50 / 0.85);
  --negative-500-90: rgb(216 75 50 / 0.90);
  --negative-500-95: rgb(216 75 50 / 0.95);
  --positive-500: #30D48A;
  --positive-500-05: rgb(48 212 138 / 0.05);
  --positive-500-10: rgb(48 212 138 / 0.10);
  --positive-500-100: rgb(48 212 138 / 1.00);
  --positive-500-15: rgb(48 212 138 / 0.15);
  --positive-500-20: rgb(48 212 138 / 0.20);
  --positive-500-25: rgb(48 212 138 / 0.25);
  --positive-500-30: rgb(48 212 138 / 0.30);
  --positive-500-35: rgb(48 212 138 / 0.35);
  --positive-500-40: rgb(48 212 138 / 0.40);
  --positive-500-45: rgb(48 212 138 / 0.45);
  --positive-500-50: rgb(48 212 138 / 0.50);
  --positive-500-55: rgb(48 212 138 / 0.55);
  --positive-500-60: rgb(48 212 138 / 0.60);
  --positive-500-65: rgb(48 212 138 / 0.65);
  --positive-500-70: rgb(48 212 138 / 0.70);
  --positive-500-75: rgb(48 212 138 / 0.75);
  --positive-500-80: rgb(48 212 138 / 0.80);
  --positive-500-85: rgb(48 212 138 / 0.85);
  --positive-500-90: rgb(48 212 138 / 0.90);
  --positive-500-95: rgb(48 212 138 / 0.95);
  --whitest: #ecfeff;
  --whitest-05: rgb(236 254 255 / 0.05);
  --whitest-10: rgb(236 254 255 / 0.10);
  --whitest-100: rgb(236 254 255 / 1.00);
  --whitest-15: rgb(236 254 255 / 0.15);
  --whitest-20: rgb(236 254 255 / 0.20);
  --whitest-25: rgb(236 254 255 / 0.25);
  --whitest-30: rgb(236 254 255 / 0.30);
  --whitest-35: rgb(236 254 255 / 0.35);
  --whitest-40: rgb(236 254 255 / 0.40);
  --whitest-45: rgb(236 254 255 / 0.45);
  --whitest-50: rgb(236 254 255 / 0.50);
  --whitest-55: rgb(236 254 255 / 0.55);
  --whitest-60: rgb(236 254 255 / 0.60);
  --whitest-65: rgb(236 254 255 / 0.65);
  --whitest-70: rgb(236 254 255 / 0.70);
  --whitest-75: rgb(236 254 255 / 0.75);
  --whitest-80: rgb(236 254 255 / 0.80);
  --whitest-85: rgb(236 254 255 / 0.85);
  --whitest-90: rgb(236 254 255 / 0.90);
  --whitest-95: rgb(236 254 255 / 0.95);
}
