.theme-dark-red {
  --bg-100: #49293D;
  --bg-100-05: rgb(73 41 61 / 0.05);
  --bg-100-10: rgb(73 41 61 / 0.10);
  --bg-100-100: rgb(73 41 61 / 1.00);
  --bg-100-15: rgb(73 41 61 / 0.15);
  --bg-100-20: rgb(73 41 61 / 0.20);
  --bg-100-25: rgb(73 41 61 / 0.25);
  --bg-100-30: rgb(73 41 61 / 0.30);
  --bg-100-35: rgb(73 41 61 / 0.35);
  --bg-100-40: rgb(73 41 61 / 0.40);
  --bg-100-45: rgb(73 41 61 / 0.45);
  --bg-100-50: rgb(73 41 61 / 0.50);
  --bg-100-55: rgb(73 41 61 / 0.55);
  --bg-100-60: rgb(73 41 61 / 0.60);
  --bg-100-65: rgb(73 41 61 / 0.65);
  --bg-100-70: rgb(73 41 61 / 0.70);
  --bg-100-75: rgb(73 41 61 / 0.75);
  --bg-100-80: rgb(73 41 61 / 0.80);
  --bg-100-85: rgb(73 41 61 / 0.85);
  --bg-100-90: rgb(73 41 61 / 0.90);
  --bg-100-95: rgb(73 41 61 / 0.95);
  --bg-200: #512838;
  --bg-200-05: rgb(81 40 56 / 0.05);
  --bg-200-10: rgb(81 40 56 / 0.10);
  --bg-200-100: rgb(81 40 56 / 1.00);
  --bg-200-15: rgb(81 40 56 / 0.15);
  --bg-200-20: rgb(81 40 56 / 0.20);
  --bg-200-25: rgb(81 40 56 / 0.25);
  --bg-200-30: rgb(81 40 56 / 0.30);
  --bg-200-35: rgb(81 40 56 / 0.35);
  --bg-200-40: rgb(81 40 56 / 0.40);
  --bg-200-45: rgb(81 40 56 / 0.45);
  --bg-200-50: rgb(81 40 56 / 0.50);
  --bg-200-55: rgb(81 40 56 / 0.55);
  --bg-200-60: rgb(81 40 56 / 0.60);
  --bg-200-65: rgb(81 40 56 / 0.65);
  --bg-200-70: rgb(81 40 56 / 0.70);
  --bg-200-75: rgb(81 40 56 / 0.75);
  --bg-200-80: rgb(81 40 56 / 0.80);
  --bg-200-85: rgb(81 40 56 / 0.85);
  --bg-200-90: rgb(81 40 56 / 0.90);
  --bg-200-95: rgb(81 40 56 / 0.95);
  --bg-300: #5A2833;
  --bg-300-05: rgb(90 40 51 / 0.05);
  --bg-300-10: rgb(90 40 51 / 0.10);
  --bg-300-100: rgb(90 40 51 / 1.00);
  --bg-300-15: rgb(90 40 51 / 0.15);
  --bg-300-20: rgb(90 40 51 / 0.20);
  --bg-300-25: rgb(90 40 51 / 0.25);
  --bg-300-30: rgb(90 40 51 / 0.30);
  --bg-300-35: rgb(90 40 51 / 0.35);
  --bg-300-40: rgb(90 40 51 / 0.40);
  --bg-300-45: rgb(90 40 51 / 0.45);
  --bg-300-50: rgb(90 40 51 / 0.50);
  --bg-300-55: rgb(90 40 51 / 0.55);
  --bg-300-60: rgb(90 40 51 / 0.60);
  --bg-300-65: rgb(90 40 51 / 0.65);
  --bg-300-70: rgb(90 40 51 / 0.70);
  --bg-300-75: rgb(90 40 51 / 0.75);
  --bg-300-80: rgb(90 40 51 / 0.80);
  --bg-300-85: rgb(90 40 51 / 0.85);
  --bg-300-90: rgb(90 40 51 / 0.90);
  --bg-300-95: rgb(90 40 51 / 0.95);
  --bg-400: #62282E;
  --bg-400-05: rgb(98 40 46 / 0.05);
  --bg-400-10: rgb(98 40 46 / 0.10);
  --bg-400-100: rgb(98 40 46 / 1.00);
  --bg-400-15: rgb(98 40 46 / 0.15);
  --bg-400-20: rgb(98 40 46 / 0.20);
  --bg-400-25: rgb(98 40 46 / 0.25);
  --bg-400-30: rgb(98 40 46 / 0.30);
  --bg-400-35: rgb(98 40 46 / 0.35);
  --bg-400-40: rgb(98 40 46 / 0.40);
  --bg-400-45: rgb(98 40 46 / 0.45);
  --bg-400-50: rgb(98 40 46 / 0.50);
  --bg-400-55: rgb(98 40 46 / 0.55);
  --bg-400-60: rgb(98 40 46 / 0.60);
  --bg-400-65: rgb(98 40 46 / 0.65);
  --bg-400-70: rgb(98 40 46 / 0.70);
  --bg-400-75: rgb(98 40 46 / 0.75);
  --bg-400-80: rgb(98 40 46 / 0.80);
  --bg-400-85: rgb(98 40 46 / 0.85);
  --bg-400-90: rgb(98 40 46 / 0.90);
  --bg-400-95: rgb(98 40 46 / 0.95);
  --bg-500: #6e2727;
  --bg-500-05: rgb(110 39 39 / 0.05);
  --bg-500-10: rgb(110 39 39 / 0.10);
  --bg-500-100: rgb(110 39 39 / 1.00);
  --bg-500-15: rgb(110 39 39 / 0.15);
  --bg-500-20: rgb(110 39 39 / 0.20);
  --bg-500-25: rgb(110 39 39 / 0.25);
  --bg-500-30: rgb(110 39 39 / 0.30);
  --bg-500-35: rgb(110 39 39 / 0.35);
  --bg-500-40: rgb(110 39 39 / 0.40);
  --bg-500-45: rgb(110 39 39 / 0.45);
  --bg-500-50: rgb(110 39 39 / 0.50);
  --bg-500-55: rgb(110 39 39 / 0.55);
  --bg-500-60: rgb(110 39 39 / 0.60);
  --bg-500-65: rgb(110 39 39 / 0.65);
  --bg-500-70: rgb(110 39 39 / 0.70);
  --bg-500-75: rgb(110 39 39 / 0.75);
  --bg-500-80: rgb(110 39 39 / 0.80);
  --bg-500-85: rgb(110 39 39 / 0.85);
  --bg-500-90: rgb(110 39 39 / 0.90);
  --bg-500-95: rgb(110 39 39 / 0.95);
  --bg-600: #7C3D3D;
  --bg-600-05: rgb(124 61 61 / 0.05);
  --bg-600-10: rgb(124 61 61 / 0.10);
  --bg-600-100: rgb(124 61 61 / 1.00);
  --bg-600-15: rgb(124 61 61 / 0.15);
  --bg-600-20: rgb(124 61 61 / 0.20);
  --bg-600-25: rgb(124 61 61 / 0.25);
  --bg-600-30: rgb(124 61 61 / 0.30);
  --bg-600-35: rgb(124 61 61 / 0.35);
  --bg-600-40: rgb(124 61 61 / 0.40);
  --bg-600-45: rgb(124 61 61 / 0.45);
  --bg-600-50: rgb(124 61 61 / 0.50);
  --bg-600-55: rgb(124 61 61 / 0.55);
  --bg-600-60: rgb(124 61 61 / 0.60);
  --bg-600-65: rgb(124 61 61 / 0.65);
  --bg-600-70: rgb(124 61 61 / 0.70);
  --bg-600-75: rgb(124 61 61 / 0.75);
  --bg-600-80: rgb(124 61 61 / 0.80);
  --bg-600-85: rgb(124 61 61 / 0.85);
  --bg-600-90: rgb(124 61 61 / 0.90);
  --bg-600-95: rgb(124 61 61 / 0.95);
  --bg-700: #8B5252;
  --bg-700-05: rgb(139 82 82 / 0.05);
  --bg-700-10: rgb(139 82 82 / 0.10);
  --bg-700-100: rgb(139 82 82 / 1.00);
  --bg-700-15: rgb(139 82 82 / 0.15);
  --bg-700-20: rgb(139 82 82 / 0.20);
  --bg-700-25: rgb(139 82 82 / 0.25);
  --bg-700-30: rgb(139 82 82 / 0.30);
  --bg-700-35: rgb(139 82 82 / 0.35);
  --bg-700-40: rgb(139 82 82 / 0.40);
  --bg-700-45: rgb(139 82 82 / 0.45);
  --bg-700-50: rgb(139 82 82 / 0.50);
  --bg-700-55: rgb(139 82 82 / 0.55);
  --bg-700-60: rgb(139 82 82 / 0.60);
  --bg-700-65: rgb(139 82 82 / 0.65);
  --bg-700-70: rgb(139 82 82 / 0.70);
  --bg-700-75: rgb(139 82 82 / 0.75);
  --bg-700-80: rgb(139 82 82 / 0.80);
  --bg-700-85: rgb(139 82 82 / 0.85);
  --bg-700-90: rgb(139 82 82 / 0.90);
  --bg-700-95: rgb(139 82 82 / 0.95);
  --bg-800: #9A6868;
  --bg-800-05: rgb(154 104 104 / 0.05);
  --bg-800-10: rgb(154 104 104 / 0.10);
  --bg-800-100: rgb(154 104 104 / 1.00);
  --bg-800-15: rgb(154 104 104 / 0.15);
  --bg-800-20: rgb(154 104 104 / 0.20);
  --bg-800-25: rgb(154 104 104 / 0.25);
  --bg-800-30: rgb(154 104 104 / 0.30);
  --bg-800-35: rgb(154 104 104 / 0.35);
  --bg-800-40: rgb(154 104 104 / 0.40);
  --bg-800-45: rgb(154 104 104 / 0.45);
  --bg-800-50: rgb(154 104 104 / 0.50);
  --bg-800-55: rgb(154 104 104 / 0.55);
  --bg-800-60: rgb(154 104 104 / 0.60);
  --bg-800-65: rgb(154 104 104 / 0.65);
  --bg-800-70: rgb(154 104 104 / 0.70);
  --bg-800-75: rgb(154 104 104 / 0.75);
  --bg-800-80: rgb(154 104 104 / 0.80);
  --bg-800-85: rgb(154 104 104 / 0.85);
  --bg-800-90: rgb(154 104 104 / 0.90);
  --bg-800-95: rgb(154 104 104 / 0.95);
  --bg-900: #A87D7D;
  --bg-900-05: rgb(168 125 125 / 0.05);
  --bg-900-10: rgb(168 125 125 / 0.10);
  --bg-900-100: rgb(168 125 125 / 1.00);
  --bg-900-15: rgb(168 125 125 / 0.15);
  --bg-900-20: rgb(168 125 125 / 0.20);
  --bg-900-25: rgb(168 125 125 / 0.25);
  --bg-900-30: rgb(168 125 125 / 0.30);
  --bg-900-35: rgb(168 125 125 / 0.35);
  --bg-900-40: rgb(168 125 125 / 0.40);
  --bg-900-45: rgb(168 125 125 / 0.45);
  --bg-900-50: rgb(168 125 125 / 0.50);
  --bg-900-55: rgb(168 125 125 / 0.55);
  --bg-900-60: rgb(168 125 125 / 0.60);
  --bg-900-65: rgb(168 125 125 / 0.65);
  --bg-900-70: rgb(168 125 125 / 0.70);
  --bg-900-75: rgb(168 125 125 / 0.75);
  --bg-900-80: rgb(168 125 125 / 0.80);
  --bg-900-85: rgb(168 125 125 / 0.85);
  --bg-900-90: rgb(168 125 125 / 0.90);
  --bg-900-95: rgb(168 125 125 / 0.95);
  --blackest: #ffffff;
  --blackest-05: rgb(255 255 255 / 0.05);
  --blackest-10: rgb(255 255 255 / 0.10);
  --blackest-100: rgb(255 255 255 / 1.00);
  --blackest-15: rgb(255 255 255 / 0.15);
  --blackest-20: rgb(255 255 255 / 0.20);
  --blackest-25: rgb(255 255 255 / 0.25);
  --blackest-30: rgb(255 255 255 / 0.30);
  --blackest-35: rgb(255 255 255 / 0.35);
  --blackest-40: rgb(255 255 255 / 0.40);
  --blackest-45: rgb(255 255 255 / 0.45);
  --blackest-50: rgb(255 255 255 / 0.50);
  --blackest-55: rgb(255 255 255 / 0.55);
  --blackest-60: rgb(255 255 255 / 0.60);
  --blackest-65: rgb(255 255 255 / 0.65);
  --blackest-70: rgb(255 255 255 / 0.70);
  --blackest-75: rgb(255 255 255 / 0.75);
  --blackest-80: rgb(255 255 255 / 0.80);
  --blackest-85: rgb(255 255 255 / 0.85);
  --blackest-90: rgb(255 255 255 / 0.90);
  --blackest-95: rgb(255 255 255 / 0.95);
  --border-radius: 8px;
  --border-thickness: 2px;
  --fg-100: #502A3E;
  --fg-100-05: rgb(80 42 62 / 0.05);
  --fg-100-10: rgb(80 42 62 / 0.10);
  --fg-100-100: rgb(80 42 62 / 1.00);
  --fg-100-15: rgb(80 42 62 / 0.15);
  --fg-100-20: rgb(80 42 62 / 0.20);
  --fg-100-25: rgb(80 42 62 / 0.25);
  --fg-100-30: rgb(80 42 62 / 0.30);
  --fg-100-35: rgb(80 42 62 / 0.35);
  --fg-100-40: rgb(80 42 62 / 0.40);
  --fg-100-45: rgb(80 42 62 / 0.45);
  --fg-100-50: rgb(80 42 62 / 0.50);
  --fg-100-55: rgb(80 42 62 / 0.55);
  --fg-100-60: rgb(80 42 62 / 0.60);
  --fg-100-65: rgb(80 42 62 / 0.65);
  --fg-100-70: rgb(80 42 62 / 0.70);
  --fg-100-75: rgb(80 42 62 / 0.75);
  --fg-100-80: rgb(80 42 62 / 0.80);
  --fg-100-85: rgb(80 42 62 / 0.85);
  --fg-100-90: rgb(80 42 62 / 0.90);
  --fg-100-95: rgb(80 42 62 / 0.95);
  --fg-200: #662E3B;
  --fg-200-05: rgb(102 46 59 / 0.05);
  --fg-200-10: rgb(102 46 59 / 0.10);
  --fg-200-100: rgb(102 46 59 / 1.00);
  --fg-200-15: rgb(102 46 59 / 0.15);
  --fg-200-20: rgb(102 46 59 / 0.20);
  --fg-200-25: rgb(102 46 59 / 0.25);
  --fg-200-30: rgb(102 46 59 / 0.30);
  --fg-200-35: rgb(102 46 59 / 0.35);
  --fg-200-40: rgb(102 46 59 / 0.40);
  --fg-200-45: rgb(102 46 59 / 0.45);
  --fg-200-50: rgb(102 46 59 / 0.50);
  --fg-200-55: rgb(102 46 59 / 0.55);
  --fg-200-60: rgb(102 46 59 / 0.60);
  --fg-200-65: rgb(102 46 59 / 0.65);
  --fg-200-70: rgb(102 46 59 / 0.70);
  --fg-200-75: rgb(102 46 59 / 0.75);
  --fg-200-80: rgb(102 46 59 / 0.80);
  --fg-200-85: rgb(102 46 59 / 0.85);
  --fg-200-90: rgb(102 46 59 / 0.90);
  --fg-200-95: rgb(102 46 59 / 0.95);
  --fg-300: #7C3038;
  --fg-300-05: rgb(124 48 56 / 0.05);
  --fg-300-10: rgb(124 48 56 / 0.10);
  --fg-300-100: rgb(124 48 56 / 1.00);
  --fg-300-15: rgb(124 48 56 / 0.15);
  --fg-300-20: rgb(124 48 56 / 0.20);
  --fg-300-25: rgb(124 48 56 / 0.25);
  --fg-300-30: rgb(124 48 56 / 0.30);
  --fg-300-35: rgb(124 48 56 / 0.35);
  --fg-300-40: rgb(124 48 56 / 0.40);
  --fg-300-45: rgb(124 48 56 / 0.45);
  --fg-300-50: rgb(124 48 56 / 0.50);
  --fg-300-55: rgb(124 48 56 / 0.55);
  --fg-300-60: rgb(124 48 56 / 0.60);
  --fg-300-65: rgb(124 48 56 / 0.65);
  --fg-300-70: rgb(124 48 56 / 0.70);
  --fg-300-75: rgb(124 48 56 / 0.75);
  --fg-300-80: rgb(124 48 56 / 0.80);
  --fg-300-85: rgb(124 48 56 / 0.85);
  --fg-300-90: rgb(124 48 56 / 0.90);
  --fg-300-95: rgb(124 48 56 / 0.95);
  --fg-400: #923435;
  --fg-400-05: rgb(146 52 53 / 0.05);
  --fg-400-10: rgb(146 52 53 / 0.10);
  --fg-400-100: rgb(146 52 53 / 1.00);
  --fg-400-15: rgb(146 52 53 / 0.15);
  --fg-400-20: rgb(146 52 53 / 0.20);
  --fg-400-25: rgb(146 52 53 / 0.25);
  --fg-400-30: rgb(146 52 53 / 0.30);
  --fg-400-35: rgb(146 52 53 / 0.35);
  --fg-400-40: rgb(146 52 53 / 0.40);
  --fg-400-45: rgb(146 52 53 / 0.45);
  --fg-400-50: rgb(146 52 53 / 0.50);
  --fg-400-55: rgb(146 52 53 / 0.55);
  --fg-400-60: rgb(146 52 53 / 0.60);
  --fg-400-65: rgb(146 52 53 / 0.65);
  --fg-400-70: rgb(146 52 53 / 0.70);
  --fg-400-75: rgb(146 52 53 / 0.75);
  --fg-400-80: rgb(146 52 53 / 0.80);
  --fg-400-85: rgb(146 52 53 / 0.85);
  --fg-400-90: rgb(146 52 53 / 0.90);
  --fg-400-95: rgb(146 52 53 / 0.95);
  --fg-500: #b33831;
  --fg-500-05: rgb(179 56 49 / 0.05);
  --fg-500-10: rgb(179 56 49 / 0.10);
  --fg-500-100: rgb(179 56 49 / 1.00);
  --fg-500-15: rgb(179 56 49 / 0.15);
  --fg-500-20: rgb(179 56 49 / 0.20);
  --fg-500-25: rgb(179 56 49 / 0.25);
  --fg-500-30: rgb(179 56 49 / 0.30);
  --fg-500-35: rgb(179 56 49 / 0.35);
  --fg-500-40: rgb(179 56 49 / 0.40);
  --fg-500-45: rgb(179 56 49 / 0.45);
  --fg-500-50: rgb(179 56 49 / 0.50);
  --fg-500-55: rgb(179 56 49 / 0.55);
  --fg-500-60: rgb(179 56 49 / 0.60);
  --fg-500-65: rgb(179 56 49 / 0.65);
  --fg-500-70: rgb(179 56 49 / 0.70);
  --fg-500-75: rgb(179 56 49 / 0.75);
  --fg-500-80: rgb(179 56 49 / 0.80);
  --fg-500-85: rgb(179 56 49 / 0.85);
  --fg-500-90: rgb(179 56 49 / 0.90);
  --fg-500-95: rgb(179 56 49 / 0.95);
  --fg-600: #BB4C46;
  --fg-600-05: rgb(187 76 70 / 0.05);
  --fg-600-10: rgb(187 76 70 / 0.10);
  --fg-600-100: rgb(187 76 70 / 1.00);
  --fg-600-15: rgb(187 76 70 / 0.15);
  --fg-600-20: rgb(187 76 70 / 0.20);
  --fg-600-25: rgb(187 76 70 / 0.25);
  --fg-600-30: rgb(187 76 70 / 0.30);
  --fg-600-35: rgb(187 76 70 / 0.35);
  --fg-600-40: rgb(187 76 70 / 0.40);
  --fg-600-45: rgb(187 76 70 / 0.45);
  --fg-600-50: rgb(187 76 70 / 0.50);
  --fg-600-55: rgb(187 76 70 / 0.55);
  --fg-600-60: rgb(187 76 70 / 0.60);
  --fg-600-65: rgb(187 76 70 / 0.65);
  --fg-600-70: rgb(187 76 70 / 0.70);
  --fg-600-75: rgb(187 76 70 / 0.75);
  --fg-600-80: rgb(187 76 70 / 0.80);
  --fg-600-85: rgb(187 76 70 / 0.85);
  --fg-600-90: rgb(187 76 70 / 0.90);
  --fg-600-95: rgb(187 76 70 / 0.95);
  --fg-700: #C2605A;
  --fg-700-05: rgb(194 96 90 / 0.05);
  --fg-700-10: rgb(194 96 90 / 0.10);
  --fg-700-100: rgb(194 96 90 / 1.00);
  --fg-700-15: rgb(194 96 90 / 0.15);
  --fg-700-20: rgb(194 96 90 / 0.20);
  --fg-700-25: rgb(194 96 90 / 0.25);
  --fg-700-30: rgb(194 96 90 / 0.30);
  --fg-700-35: rgb(194 96 90 / 0.35);
  --fg-700-40: rgb(194 96 90 / 0.40);
  --fg-700-45: rgb(194 96 90 / 0.45);
  --fg-700-50: rgb(194 96 90 / 0.50);
  --fg-700-55: rgb(194 96 90 / 0.55);
  --fg-700-60: rgb(194 96 90 / 0.60);
  --fg-700-65: rgb(194 96 90 / 0.65);
  --fg-700-70: rgb(194 96 90 / 0.70);
  --fg-700-75: rgb(194 96 90 / 0.75);
  --fg-700-80: rgb(194 96 90 / 0.80);
  --fg-700-85: rgb(194 96 90 / 0.85);
  --fg-700-90: rgb(194 96 90 / 0.90);
  --fg-700-95: rgb(194 96 90 / 0.95);
  --fg-800: #CA746F;
  --fg-800-05: rgb(202 116 111 / 0.05);
  --fg-800-10: rgb(202 116 111 / 0.10);
  --fg-800-100: rgb(202 116 111 / 1.00);
  --fg-800-15: rgb(202 116 111 / 0.15);
  --fg-800-20: rgb(202 116 111 / 0.20);
  --fg-800-25: rgb(202 116 111 / 0.25);
  --fg-800-30: rgb(202 116 111 / 0.30);
  --fg-800-35: rgb(202 116 111 / 0.35);
  --fg-800-40: rgb(202 116 111 / 0.40);
  --fg-800-45: rgb(202 116 111 / 0.45);
  --fg-800-50: rgb(202 116 111 / 0.50);
  --fg-800-55: rgb(202 116 111 / 0.55);
  --fg-800-60: rgb(202 116 111 / 0.60);
  --fg-800-65: rgb(202 116 111 / 0.65);
  --fg-800-70: rgb(202 116 111 / 0.70);
  --fg-800-75: rgb(202 116 111 / 0.75);
  --fg-800-80: rgb(202 116 111 / 0.80);
  --fg-800-85: rgb(202 116 111 / 0.85);
  --fg-800-90: rgb(202 116 111 / 0.90);
  --fg-800-95: rgb(202 116 111 / 0.95);
  --fg-900: #D18883;
  --fg-900-05: rgb(209 136 131 / 0.05);
  --fg-900-10: rgb(209 136 131 / 0.10);
  --fg-900-100: rgb(209 136 131 / 1.00);
  --fg-900-15: rgb(209 136 131 / 0.15);
  --fg-900-20: rgb(209 136 131 / 0.20);
  --fg-900-25: rgb(209 136 131 / 0.25);
  --fg-900-30: rgb(209 136 131 / 0.30);
  --fg-900-35: rgb(209 136 131 / 0.35);
  --fg-900-40: rgb(209 136 131 / 0.40);
  --fg-900-45: rgb(209 136 131 / 0.45);
  --fg-900-50: rgb(209 136 131 / 0.50);
  --fg-900-55: rgb(209 136 131 / 0.55);
  --fg-900-60: rgb(209 136 131 / 0.60);
  --fg-900-65: rgb(209 136 131 / 0.65);
  --fg-900-70: rgb(209 136 131 / 0.70);
  --fg-900-75: rgb(209 136 131 / 0.75);
  --fg-900-80: rgb(209 136 131 / 0.80);
  --fg-900-85: rgb(209 136 131 / 0.85);
  --fg-900-90: rgb(209 136 131 / 0.90);
  --fg-900-95: rgb(209 136 131 / 0.95);
  --negative-500: #a24b6f;
  --negative-500-05: rgb(162 75 111 / 0.05);
  --negative-500-10: rgb(162 75 111 / 0.10);
  --negative-500-100: rgb(162 75 111 / 1.00);
  --negative-500-15: rgb(162 75 111 / 0.15);
  --negative-500-20: rgb(162 75 111 / 0.20);
  --negative-500-25: rgb(162 75 111 / 0.25);
  --negative-500-30: rgb(162 75 111 / 0.30);
  --negative-500-35: rgb(162 75 111 / 0.35);
  --negative-500-40: rgb(162 75 111 / 0.40);
  --negative-500-45: rgb(162 75 111 / 0.45);
  --negative-500-50: rgb(162 75 111 / 0.50);
  --negative-500-55: rgb(162 75 111 / 0.55);
  --negative-500-60: rgb(162 75 111 / 0.60);
  --negative-500-65: rgb(162 75 111 / 0.65);
  --negative-500-70: rgb(162 75 111 / 0.70);
  --negative-500-75: rgb(162 75 111 / 0.75);
  --negative-500-80: rgb(162 75 111 / 0.80);
  --negative-500-85: rgb(162 75 111 / 0.85);
  --negative-500-90: rgb(162 75 111 / 0.90);
  --negative-500-95: rgb(162 75 111 / 0.95);
  --positive-500: #1ebc73;
  --positive-500-05: rgb(30 188 115 / 0.05);
  --positive-500-10: rgb(30 188 115 / 0.10);
  --positive-500-100: rgb(30 188 115 / 1.00);
  --positive-500-15: rgb(30 188 115 / 0.15);
  --positive-500-20: rgb(30 188 115 / 0.20);
  --positive-500-25: rgb(30 188 115 / 0.25);
  --positive-500-30: rgb(30 188 115 / 0.30);
  --positive-500-35: rgb(30 188 115 / 0.35);
  --positive-500-40: rgb(30 188 115 / 0.40);
  --positive-500-45: rgb(30 188 115 / 0.45);
  --positive-500-50: rgb(30 188 115 / 0.50);
  --positive-500-55: rgb(30 188 115 / 0.55);
  --positive-500-60: rgb(30 188 115 / 0.60);
  --positive-500-65: rgb(30 188 115 / 0.65);
  --positive-500-70: rgb(30 188 115 / 0.70);
  --positive-500-75: rgb(30 188 115 / 0.75);
  --positive-500-80: rgb(30 188 115 / 0.80);
  --positive-500-85: rgb(30 188 115 / 0.85);
  --positive-500-90: rgb(30 188 115 / 0.90);
  --positive-500-95: rgb(30 188 115 / 0.95);
  --whitest: #45293f;
  --whitest-05: rgb(69 41 63 / 0.05);
  --whitest-10: rgb(69 41 63 / 0.10);
  --whitest-100: rgb(69 41 63 / 1.00);
  --whitest-15: rgb(69 41 63 / 0.15);
  --whitest-20: rgb(69 41 63 / 0.20);
  --whitest-25: rgb(69 41 63 / 0.25);
  --whitest-30: rgb(69 41 63 / 0.30);
  --whitest-35: rgb(69 41 63 / 0.35);
  --whitest-40: rgb(69 41 63 / 0.40);
  --whitest-45: rgb(69 41 63 / 0.45);
  --whitest-50: rgb(69 41 63 / 0.50);
  --whitest-55: rgb(69 41 63 / 0.55);
  --whitest-60: rgb(69 41 63 / 0.60);
  --whitest-65: rgb(69 41 63 / 0.65);
  --whitest-70: rgb(69 41 63 / 0.70);
  --whitest-75: rgb(69 41 63 / 0.75);
  --whitest-80: rgb(69 41 63 / 0.80);
  --whitest-85: rgb(69 41 63 / 0.85);
  --whitest-90: rgb(69 41 63 / 0.90);
  --whitest-95: rgb(69 41 63 / 0.95);
}

.theme-semi-sky {
  --bg-100: #233140;
  --bg-100-05: rgb(35 49 64 / 0.05);
  --bg-100-10: rgb(35 49 64 / 0.10);
  --bg-100-100: rgb(35 49 64 / 1.00);
  --bg-100-15: rgb(35 49 64 / 0.15);
  --bg-100-20: rgb(35 49 64 / 0.20);
  --bg-100-25: rgb(35 49 64 / 0.25);
  --bg-100-30: rgb(35 49 64 / 0.30);
  --bg-100-35: rgb(35 49 64 / 0.35);
  --bg-100-40: rgb(35 49 64 / 0.40);
  --bg-100-45: rgb(35 49 64 / 0.45);
  --bg-100-50: rgb(35 49 64 / 0.50);
  --bg-100-55: rgb(35 49 64 / 0.55);
  --bg-100-60: rgb(35 49 64 / 0.60);
  --bg-100-65: rgb(35 49 64 / 0.65);
  --bg-100-70: rgb(35 49 64 / 0.70);
  --bg-100-75: rgb(35 49 64 / 0.75);
  --bg-100-80: rgb(35 49 64 / 0.80);
  --bg-100-85: rgb(35 49 64 / 0.85);
  --bg-100-90: rgb(35 49 64 / 0.90);
  --bg-100-95: rgb(35 49 64 / 0.95);
  --bg-200: #355B69;
  --bg-200-05: rgb(53 91 105 / 0.05);
  --bg-200-10: rgb(53 91 105 / 0.10);
  --bg-200-100: rgb(53 91 105 / 1.00);
  --bg-200-15: rgb(53 91 105 / 0.15);
  --bg-200-20: rgb(53 91 105 / 0.20);
  --bg-200-25: rgb(53 91 105 / 0.25);
  --bg-200-30: rgb(53 91 105 / 0.30);
  --bg-200-35: rgb(53 91 105 / 0.35);
  --bg-200-40: rgb(53 91 105 / 0.40);
  --bg-200-45: rgb(53 91 105 / 0.45);
  --bg-200-50: rgb(53 91 105 / 0.50);
  --bg-200-55: rgb(53 91 105 / 0.55);
  --bg-200-60: rgb(53 91 105 / 0.60);
  --bg-200-65: rgb(53 91 105 / 0.65);
  --bg-200-70: rgb(53 91 105 / 0.70);
  --bg-200-75: rgb(53 91 105 / 0.75);
  --bg-200-80: rgb(53 91 105 / 0.80);
  --bg-200-85: rgb(53 91 105 / 0.85);
  --bg-200-90: rgb(53 91 105 / 0.90);
  --bg-200-95: rgb(53 91 105 / 0.95);
  --bg-300: #468692;
  --bg-300-05: rgb(70 134 146 / 0.05);
  --bg-300-10: rgb(70 134 146 / 0.10);
  --bg-300-100: rgb(70 134 146 / 1.00);
  --bg-300-15: rgb(70 134 146 / 0.15);
  --bg-300-20: rgb(70 134 146 / 0.20);
  --bg-300-25: rgb(70 134 146 / 0.25);
  --bg-300-30: rgb(70 134 146 / 0.30);
  --bg-300-35: rgb(70 134 146 / 0.35);
  --bg-300-40: rgb(70 134 146 / 0.40);
  --bg-300-45: rgb(70 134 146 / 0.45);
  --bg-300-50: rgb(70 134 146 / 0.50);
  --bg-300-55: rgb(70 134 146 / 0.55);
  --bg-300-60: rgb(70 134 146 / 0.60);
  --bg-300-65: rgb(70 134 146 / 0.65);
  --bg-300-70: rgb(70 134 146 / 0.70);
  --bg-300-75: rgb(70 134 146 / 0.75);
  --bg-300-80: rgb(70 134 146 / 0.80);
  --bg-300-85: rgb(70 134 146 / 0.85);
  --bg-300-90: rgb(70 134 146 / 0.90);
  --bg-300-95: rgb(70 134 146 / 0.95);
  --bg-400: #58B0BA;
  --bg-400-05: rgb(88 176 186 / 0.05);
  --bg-400-10: rgb(88 176 186 / 0.10);
  --bg-400-100: rgb(88 176 186 / 1.00);
  --bg-400-15: rgb(88 176 186 / 0.15);
  --bg-400-20: rgb(88 176 186 / 0.20);
  --bg-400-25: rgb(88 176 186 / 0.25);
  --bg-400-30: rgb(88 176 186 / 0.30);
  --bg-400-35: rgb(88 176 186 / 0.35);
  --bg-400-40: rgb(88 176 186 / 0.40);
  --bg-400-45: rgb(88 176 186 / 0.45);
  --bg-400-50: rgb(88 176 186 / 0.50);
  --bg-400-55: rgb(88 176 186 / 0.55);
  --bg-400-60: rgb(88 176 186 / 0.60);
  --bg-400-65: rgb(88 176 186 / 0.65);
  --bg-400-70: rgb(88 176 186 / 0.70);
  --bg-400-75: rgb(88 176 186 / 0.75);
  --bg-400-80: rgb(88 176 186 / 0.80);
  --bg-400-85: rgb(88 176 186 / 0.85);
  --bg-400-90: rgb(88 176 186 / 0.90);
  --bg-400-95: rgb(88 176 186 / 0.95);
  --bg-500: #73eff7;
  --bg-500-05: rgb(115 239 247 / 0.05);
  --bg-500-10: rgb(115 239 247 / 0.10);
  --bg-500-100: rgb(115 239 247 / 1.00);
  --bg-500-15: rgb(115 239 247 / 0.15);
  --bg-500-20: rgb(115 239 247 / 0.20);
  --bg-500-25: rgb(115 239 247 / 0.25);
  --bg-500-30: rgb(115 239 247 / 0.30);
  --bg-500-35: rgb(115 239 247 / 0.35);
  --bg-500-40: rgb(115 239 247 / 0.40);
  --bg-500-45: rgb(115 239 247 / 0.45);
  --bg-500-50: rgb(115 239 247 / 0.50);
  --bg-500-55: rgb(115 239 247 / 0.55);
  --bg-500-60: rgb(115 239 247 / 0.60);
  --bg-500-65: rgb(115 239 247 / 0.65);
  --bg-500-70: rgb(115 239 247 / 0.70);
  --bg-500-75: rgb(115 239 247 / 0.75);
  --bg-500-80: rgb(115 239 247 / 0.80);
  --bg-500-85: rgb(115 239 247 / 0.85);
  --bg-500-90: rgb(115 239 247 / 0.90);
  --bg-500-95: rgb(115 239 247 / 0.95);
  --bg-600: #80F0F7;
  --bg-600-05: rgb(128 240 247 / 0.05);
  --bg-600-10: rgb(128 240 247 / 0.10);
  --bg-600-100: rgb(128 240 247 / 1.00);
  --bg-600-15: rgb(128 240 247 / 0.15);
  --bg-600-20: rgb(128 240 247 / 0.20);
  --bg-600-25: rgb(128 240 247 / 0.25);
  --bg-600-30: rgb(128 240 247 / 0.30);
  --bg-600-35: rgb(128 240 247 / 0.35);
  --bg-600-40: rgb(128 240 247 / 0.40);
  --bg-600-45: rgb(128 240 247 / 0.45);
  --bg-600-50: rgb(128 240 247 / 0.50);
  --bg-600-55: rgb(128 240 247 / 0.55);
  --bg-600-60: rgb(128 240 247 / 0.60);
  --bg-600-65: rgb(128 240 247 / 0.65);
  --bg-600-70: rgb(128 240 247 / 0.70);
  --bg-600-75: rgb(128 240 247 / 0.75);
  --bg-600-80: rgb(128 240 247 / 0.80);
  --bg-600-85: rgb(128 240 247 / 0.85);
  --bg-600-90: rgb(128 240 247 / 0.90);
  --bg-600-95: rgb(128 240 247 / 0.95);
  --bg-700: #8DF0F6;
  --bg-700-05: rgb(141 240 246 / 0.05);
  --bg-700-10: rgb(141 240 246 / 0.10);
  --bg-700-100: rgb(141 240 246 / 1.00);
  --bg-700-15: rgb(141 240 246 / 0.15);
  --bg-700-20: rgb(141 240 246 / 0.20);
  --bg-700-25: rgb(141 240 246 / 0.25);
  --bg-700-30: rgb(141 240 246 / 0.30);
  --bg-700-35: rgb(141 240 246 / 0.35);
  --bg-700-40: rgb(141 240 246 / 0.40);
  --bg-700-45: rgb(141 240 246 / 0.45);
  --bg-700-50: rgb(141 240 246 / 0.50);
  --bg-700-55: rgb(141 240 246 / 0.55);
  --bg-700-60: rgb(141 240 246 / 0.60);
  --bg-700-65: rgb(141 240 246 / 0.65);
  --bg-700-70: rgb(141 240 246 / 0.70);
  --bg-700-75: rgb(141 240 246 / 0.75);
  --bg-700-80: rgb(141 240 246 / 0.80);
  --bg-700-85: rgb(141 240 246 / 0.85);
  --bg-700-90: rgb(141 240 246 / 0.90);
  --bg-700-95: rgb(141 240 246 / 0.95);
  --bg-800: #9AF0F6;
  --bg-800-05: rgb(154 240 246 / 0.05);
  --bg-800-10: rgb(154 240 246 / 0.10);
  --bg-800-100: rgb(154 240 246 / 1.00);
  --bg-800-15: rgb(154 240 246 / 0.15);
  --bg-800-20: rgb(154 240 246 / 0.20);
  --bg-800-25: rgb(154 240 246 / 0.25);
  --bg-800-30: rgb(154 240 246 / 0.30);
  --bg-800-35: rgb(154 240 246 / 0.35);
  --bg-800-40: rgb(154 240 246 / 0.40);
  --bg-800-45: rgb(154 240 246 / 0.45);
  --bg-800-50: rgb(154 240 246 / 0.50);
  --bg-800-55: rgb(154 240 246 / 0.55);
  --bg-800-60: rgb(154 240 246 / 0.60);
  --bg-800-65: rgb(154 240 246 / 0.65);
  --bg-800-70: rgb(154 240 246 / 0.70);
  --bg-800-75: rgb(154 240 246 / 0.75);
  --bg-800-80: rgb(154 240 246 / 0.80);
  --bg-800-85: rgb(154 240 246 / 0.85);
  --bg-800-90: rgb(154 240 246 / 0.90);
  --bg-800-95: rgb(154 240 246 / 0.95);
  --bg-900: #A7F1F6;
  --bg-900-05: rgb(167 241 246 / 0.05);
  --bg-900-10: rgb(167 241 246 / 0.10);
  --bg-900-100: rgb(167 241 246 / 1.00);
  --bg-900-15: rgb(167 241 246 / 0.15);
  --bg-900-20: rgb(167 241 246 / 0.20);
  --bg-900-25: rgb(167 241 246 / 0.25);
  --bg-900-30: rgb(167 241 246 / 0.30);
  --bg-900-35: rgb(167 241 246 / 0.35);
  --bg-900-40: rgb(167 241 246 / 0.40);
  --bg-900-45: rgb(167 241 246 / 0.45);
  --bg-900-50: rgb(167 241 246 / 0.50);
  --bg-900-55: rgb(167 241 246 / 0.55);
  --bg-900-60: rgb(167 241 246 / 0.60);
  --bg-900-65: rgb(167 241 246 / 0.65);
  --bg-900-70: rgb(167 241 246 / 0.70);
  --bg-900-75: rgb(167 241 246 / 0.75);
  --bg-900-80: rgb(167 241 246 / 0.80);
  --bg-900-85: rgb(167 241 246 / 0.85);
  --bg-900-90: rgb(167 241 246 / 0.90);
  --bg-900-95: rgb(167 241 246 / 0.95);
  --blackest: #f4f4f4;
  --blackest-05: rgb(244 244 244 / 0.05);
  --blackest-10: rgb(244 244 244 / 0.10);
  --blackest-100: rgb(244 244 244 / 1.00);
  --blackest-15: rgb(244 244 244 / 0.15);
  --blackest-20: rgb(244 244 244 / 0.20);
  --blackest-25: rgb(244 244 244 / 0.25);
  --blackest-30: rgb(244 244 244 / 0.30);
  --blackest-35: rgb(244 244 244 / 0.35);
  --blackest-40: rgb(244 244 244 / 0.40);
  --blackest-45: rgb(244 244 244 / 0.45);
  --blackest-50: rgb(244 244 244 / 0.50);
  --blackest-55: rgb(244 244 244 / 0.55);
  --blackest-60: rgb(244 244 244 / 0.60);
  --blackest-65: rgb(244 244 244 / 0.65);
  --blackest-70: rgb(244 244 244 / 0.70);
  --blackest-75: rgb(244 244 244 / 0.75);
  --blackest-80: rgb(244 244 244 / 0.80);
  --blackest-85: rgb(244 244 244 / 0.85);
  --blackest-90: rgb(244 244 244 / 0.90);
  --blackest-95: rgb(244 244 244 / 0.95);
  --border-radius: 8px;
  --border-thickness: 2px;
  --fg-100: #1E2A40;
  --fg-100-05: rgb(30 42 64 / 0.05);
  --fg-100-10: rgb(30 42 64 / 0.10);
  --fg-100-100: rgb(30 42 64 / 1.00);
  --fg-100-15: rgb(30 42 64 / 0.15);
  --fg-100-20: rgb(30 42 64 / 0.20);
  --fg-100-25: rgb(30 42 64 / 0.25);
  --fg-100-30: rgb(30 42 64 / 0.30);
  --fg-100-35: rgb(30 42 64 / 0.35);
  --fg-100-40: rgb(30 42 64 / 0.40);
  --fg-100-45: rgb(30 42 64 / 0.45);
  --fg-100-50: rgb(30 42 64 / 0.50);
  --fg-100-55: rgb(30 42 64 / 0.55);
  --fg-100-60: rgb(30 42 64 / 0.60);
  --fg-100-65: rgb(30 42 64 / 0.65);
  --fg-100-70: rgb(30 42 64 / 0.70);
  --fg-100-75: rgb(30 42 64 / 0.75);
  --fg-100-80: rgb(30 42 64 / 0.80);
  --fg-100-85: rgb(30 42 64 / 0.85);
  --fg-100-90: rgb(30 42 64 / 0.90);
  --fg-100-95: rgb(30 42 64 / 0.95);
  --fg-200: #264569;
  --fg-200-05: rgb(38 69 105 / 0.05);
  --fg-200-10: rgb(38 69 105 / 0.10);
  --fg-200-100: rgb(38 69 105 / 1.00);
  --fg-200-15: rgb(38 69 105 / 0.15);
  --fg-200-20: rgb(38 69 105 / 0.20);
  --fg-200-25: rgb(38 69 105 / 0.25);
  --fg-200-30: rgb(38 69 105 / 0.30);
  --fg-200-35: rgb(38 69 105 / 0.35);
  --fg-200-40: rgb(38 69 105 / 0.40);
  --fg-200-45: rgb(38 69 105 / 0.45);
  --fg-200-50: rgb(38 69 105 / 0.50);
  --fg-200-55: rgb(38 69 105 / 0.55);
  --fg-200-60: rgb(38 69 105 / 0.60);
  --fg-200-65: rgb(38 69 105 / 0.65);
  --fg-200-70: rgb(38 69 105 / 0.70);
  --fg-200-75: rgb(38 69 105 / 0.75);
  --fg-200-80: rgb(38 69 105 / 0.80);
  --fg-200-85: rgb(38 69 105 / 0.85);
  --fg-200-90: rgb(38 69 105 / 0.90);
  --fg-200-95: rgb(38 69 105 / 0.95);
  --fg-300: #2E6191;
  --fg-300-05: rgb(46 97 145 / 0.05);
  --fg-300-10: rgb(46 97 145 / 0.10);
  --fg-300-100: rgb(46 97 145 / 1.00);
  --fg-300-15: rgb(46 97 145 / 0.15);
  --fg-300-20: rgb(46 97 145 / 0.20);
  --fg-300-25: rgb(46 97 145 / 0.25);
  --fg-300-30: rgb(46 97 145 / 0.30);
  --fg-300-35: rgb(46 97 145 / 0.35);
  --fg-300-40: rgb(46 97 145 / 0.40);
  --fg-300-45: rgb(46 97 145 / 0.45);
  --fg-300-50: rgb(46 97 145 / 0.50);
  --fg-300-55: rgb(46 97 145 / 0.55);
  --fg-300-60: rgb(46 97 145 / 0.60);
  --fg-300-65: rgb(46 97 145 / 0.65);
  --fg-300-70: rgb(46 97 145 / 0.70);
  --fg-300-75: rgb(46 97 145 / 0.75);
  --fg-300-80: rgb(46 97 145 / 0.80);
  --fg-300-85: rgb(46 97 145 / 0.85);
  --fg-300-90: rgb(46 97 145 / 0.90);
  --fg-300-95: rgb(46 97 145 / 0.95);
  --fg-400: #357DB9;
  --fg-400-05: rgb(53 125 185 / 0.05);
  --fg-400-10: rgb(53 125 185 / 0.10);
  --fg-400-100: rgb(53 125 185 / 1.00);
  --fg-400-15: rgb(53 125 185 / 0.15);
  --fg-400-20: rgb(53 125 185 / 0.20);
  --fg-400-25: rgb(53 125 185 / 0.25);
  --fg-400-30: rgb(53 125 185 / 0.30);
  --fg-400-35: rgb(53 125 185 / 0.35);
  --fg-400-40: rgb(53 125 185 / 0.40);
  --fg-400-45: rgb(53 125 185 / 0.45);
  --fg-400-50: rgb(53 125 185 / 0.50);
  --fg-400-55: rgb(53 125 185 / 0.55);
  --fg-400-60: rgb(53 125 185 / 0.60);
  --fg-400-65: rgb(53 125 185 / 0.65);
  --fg-400-70: rgb(53 125 185 / 0.70);
  --fg-400-75: rgb(53 125 185 / 0.75);
  --fg-400-80: rgb(53 125 185 / 0.80);
  --fg-400-85: rgb(53 125 185 / 0.85);
  --fg-400-90: rgb(53 125 185 / 0.90);
  --fg-400-95: rgb(53 125 185 / 0.95);
  --fg-500: #41a6f6;
  --fg-500-05: rgb(65 166 246 / 0.05);
  --fg-500-10: rgb(65 166 246 / 0.10);
  --fg-500-100: rgb(65 166 246 / 1.00);
  --fg-500-15: rgb(65 166 246 / 0.15);
  --fg-500-20: rgb(65 166 246 / 0.20);
  --fg-500-25: rgb(65 166 246 / 0.25);
  --fg-500-30: rgb(65 166 246 / 0.30);
  --fg-500-35: rgb(65 166 246 / 0.35);
  --fg-500-40: rgb(65 166 246 / 0.40);
  --fg-500-45: rgb(65 166 246 / 0.45);
  --fg-500-50: rgb(65 166 246 / 0.50);
  --fg-500-55: rgb(65 166 246 / 0.55);
  --fg-500-60: rgb(65 166 246 / 0.60);
  --fg-500-65: rgb(65 166 246 / 0.65);
  --fg-500-70: rgb(65 166 246 / 0.70);
  --fg-500-75: rgb(65 166 246 / 0.75);
  --fg-500-80: rgb(65 166 246 / 0.80);
  --fg-500-85: rgb(65 166 246 / 0.85);
  --fg-500-90: rgb(65 166 246 / 0.90);
  --fg-500-95: rgb(65 166 246 / 0.95);
  --fg-600: #53AEF6;
  --fg-600-05: rgb(83 174 246 / 0.05);
  --fg-600-10: rgb(83 174 246 / 0.10);
  --fg-600-100: rgb(83 174 246 / 1.00);
  --fg-600-15: rgb(83 174 246 / 0.15);
  --fg-600-20: rgb(83 174 246 / 0.20);
  --fg-600-25: rgb(83 174 246 / 0.25);
  --fg-600-30: rgb(83 174 246 / 0.30);
  --fg-600-35: rgb(83 174 246 / 0.35);
  --fg-600-40: rgb(83 174 246 / 0.40);
  --fg-600-45: rgb(83 174 246 / 0.45);
  --fg-600-50: rgb(83 174 246 / 0.50);
  --fg-600-55: rgb(83 174 246 / 0.55);
  --fg-600-60: rgb(83 174 246 / 0.60);
  --fg-600-65: rgb(83 174 246 / 0.65);
  --fg-600-70: rgb(83 174 246 / 0.70);
  --fg-600-75: rgb(83 174 246 / 0.75);
  --fg-600-80: rgb(83 174 246 / 0.80);
  --fg-600-85: rgb(83 174 246 / 0.85);
  --fg-600-90: rgb(83 174 246 / 0.90);
  --fg-600-95: rgb(83 174 246 / 0.95);
  --fg-700: #65B6F6;
  --fg-700-05: rgb(101 182 246 / 0.05);
  --fg-700-10: rgb(101 182 246 / 0.10);
  --fg-700-100: rgb(101 182 246 / 1.00);
  --fg-700-15: rgb(101 182 246 / 0.15);
  --fg-700-20: rgb(101 182 246 / 0.20);
  --fg-700-25: rgb(101 182 246 / 0.25);
  --fg-700-30: rgb(101 182 246 / 0.30);
  --fg-700-35: rgb(101 182 246 / 0.35);
  --fg-700-40: rgb(101 182 246 / 0.40);
  --fg-700-45: rgb(101 182 246 / 0.45);
  --fg-700-50: rgb(101 182 246 / 0.50);
  --fg-700-55: rgb(101 182 246 / 0.55);
  --fg-700-60: rgb(101 182 246 / 0.60);
  --fg-700-65: rgb(101 182 246 / 0.65);
  --fg-700-70: rgb(101 182 246 / 0.70);
  --fg-700-75: rgb(101 182 246 / 0.75);
  --fg-700-80: rgb(101 182 246 / 0.80);
  --fg-700-85: rgb(101 182 246 / 0.85);
  --fg-700-90: rgb(101 182 246 / 0.90);
  --fg-700-95: rgb(101 182 246 / 0.95);
  --fg-800: #77BDF5;
  --fg-800-05: rgb(119 189 245 / 0.05);
  --fg-800-10: rgb(119 189 245 / 0.10);
  --fg-800-100: rgb(119 189 245 / 1.00);
  --fg-800-15: rgb(119 189 245 / 0.15);
  --fg-800-20: rgb(119 189 245 / 0.20);
  --fg-800-25: rgb(119 189 245 / 0.25);
  --fg-800-30: rgb(119 189 245 / 0.30);
  --fg-800-35: rgb(119 189 245 / 0.35);
  --fg-800-40: rgb(119 189 245 / 0.40);
  --fg-800-45: rgb(119 189 245 / 0.45);
  --fg-800-50: rgb(119 189 245 / 0.50);
  --fg-800-55: rgb(119 189 245 / 0.55);
  --fg-800-60: rgb(119 189 245 / 0.60);
  --fg-800-65: rgb(119 189 245 / 0.65);
  --fg-800-70: rgb(119 189 245 / 0.70);
  --fg-800-75: rgb(119 189 245 / 0.75);
  --fg-800-80: rgb(119 189 245 / 0.80);
  --fg-800-85: rgb(119 189 245 / 0.85);
  --fg-800-90: rgb(119 189 245 / 0.90);
  --fg-800-95: rgb(119 189 245 / 0.95);
  --fg-900: #89C5F5;
  --fg-900-05: rgb(137 197 245 / 0.05);
  --fg-900-10: rgb(137 197 245 / 0.10);
  --fg-900-100: rgb(137 197 245 / 1.00);
  --fg-900-15: rgb(137 197 245 / 0.15);
  --fg-900-20: rgb(137 197 245 / 0.20);
  --fg-900-25: rgb(137 197 245 / 0.25);
  --fg-900-30: rgb(137 197 245 / 0.30);
  --fg-900-35: rgb(137 197 245 / 0.35);
  --fg-900-40: rgb(137 197 245 / 0.40);
  --fg-900-45: rgb(137 197 245 / 0.45);
  --fg-900-50: rgb(137 197 245 / 0.50);
  --fg-900-55: rgb(137 197 245 / 0.55);
  --fg-900-60: rgb(137 197 245 / 0.60);
  --fg-900-65: rgb(137 197 245 / 0.65);
  --fg-900-70: rgb(137 197 245 / 0.70);
  --fg-900-75: rgb(137 197 245 / 0.75);
  --fg-900-80: rgb(137 197 245 / 0.80);
  --fg-900-85: rgb(137 197 245 / 0.85);
  --fg-900-90: rgb(137 197 245 / 0.90);
  --fg-900-95: rgb(137 197 245 / 0.95);
  --negative-500: #b13e53;
  --negative-500-05: rgb(177 62 83 / 0.05);
  --negative-500-10: rgb(177 62 83 / 0.10);
  --negative-500-100: rgb(177 62 83 / 1.00);
  --negative-500-15: rgb(177 62 83 / 0.15);
  --negative-500-20: rgb(177 62 83 / 0.20);
  --negative-500-25: rgb(177 62 83 / 0.25);
  --negative-500-30: rgb(177 62 83 / 0.30);
  --negative-500-35: rgb(177 62 83 / 0.35);
  --negative-500-40: rgb(177 62 83 / 0.40);
  --negative-500-45: rgb(177 62 83 / 0.45);
  --negative-500-50: rgb(177 62 83 / 0.50);
  --negative-500-55: rgb(177 62 83 / 0.55);
  --negative-500-60: rgb(177 62 83 / 0.60);
  --negative-500-65: rgb(177 62 83 / 0.65);
  --negative-500-70: rgb(177 62 83 / 0.70);
  --negative-500-75: rgb(177 62 83 / 0.75);
  --negative-500-80: rgb(177 62 83 / 0.80);
  --negative-500-85: rgb(177 62 83 / 0.85);
  --negative-500-90: rgb(177 62 83 / 0.90);
  --negative-500-95: rgb(177 62 83 / 0.95);
  --positive-500: #38b764;
  --positive-500-05: rgb(56 183 100 / 0.05);
  --positive-500-10: rgb(56 183 100 / 0.10);
  --positive-500-100: rgb(56 183 100 / 1.00);
  --positive-500-15: rgb(56 183 100 / 0.15);
  --positive-500-20: rgb(56 183 100 / 0.20);
  --positive-500-25: rgb(56 183 100 / 0.25);
  --positive-500-30: rgb(56 183 100 / 0.30);
  --positive-500-35: rgb(56 183 100 / 0.35);
  --positive-500-40: rgb(56 183 100 / 0.40);
  --positive-500-45: rgb(56 183 100 / 0.45);
  --positive-500-50: rgb(56 183 100 / 0.50);
  --positive-500-55: rgb(56 183 100 / 0.55);
  --positive-500-60: rgb(56 183 100 / 0.60);
  --positive-500-65: rgb(56 183 100 / 0.65);
  --positive-500-70: rgb(56 183 100 / 0.70);
  --positive-500-75: rgb(56 183 100 / 0.75);
  --positive-500-80: rgb(56 183 100 / 0.80);
  --positive-500-85: rgb(56 183 100 / 0.85);
  --positive-500-90: rgb(56 183 100 / 0.90);
  --positive-500-95: rgb(56 183 100 / 0.95);
  --whitest: #1a1c2c;
  --whitest-05: rgb(26 28 44 / 0.05);
  --whitest-10: rgb(26 28 44 / 0.10);
  --whitest-100: rgb(26 28 44 / 1.00);
  --whitest-15: rgb(26 28 44 / 0.15);
  --whitest-20: rgb(26 28 44 / 0.20);
  --whitest-25: rgb(26 28 44 / 0.25);
  --whitest-30: rgb(26 28 44 / 0.30);
  --whitest-35: rgb(26 28 44 / 0.35);
  --whitest-40: rgb(26 28 44 / 0.40);
  --whitest-45: rgb(26 28 44 / 0.45);
  --whitest-50: rgb(26 28 44 / 0.50);
  --whitest-55: rgb(26 28 44 / 0.55);
  --whitest-60: rgb(26 28 44 / 0.60);
  --whitest-65: rgb(26 28 44 / 0.65);
  --whitest-70: rgb(26 28 44 / 0.70);
  --whitest-75: rgb(26 28 44 / 0.75);
  --whitest-80: rgb(26 28 44 / 0.80);
  --whitest-85: rgb(26 28 44 / 0.85);
  --whitest-90: rgb(26 28 44 / 0.90);
  --whitest-95: rgb(26 28 44 / 0.95);
}

.theme-light-sand {
  --bg-100: #F7F4F2;
  --bg-100-05: rgb(247 244 242 / 0.05);
  --bg-100-10: rgb(247 244 242 / 0.10);
  --bg-100-100: rgb(247 244 242 / 1.00);
  --bg-100-15: rgb(247 244 242 / 0.15);
  --bg-100-20: rgb(247 244 242 / 0.20);
  --bg-100-25: rgb(247 244 242 / 0.25);
  --bg-100-30: rgb(247 244 242 / 0.30);
  --bg-100-35: rgb(247 244 242 / 0.35);
  --bg-100-40: rgb(247 244 242 / 0.40);
  --bg-100-45: rgb(247 244 242 / 0.45);
  --bg-100-50: rgb(247 244 242 / 0.50);
  --bg-100-55: rgb(247 244 242 / 0.55);
  --bg-100-60: rgb(247 244 242 / 0.60);
  --bg-100-65: rgb(247 244 242 / 0.65);
  --bg-100-70: rgb(247 244 242 / 0.70);
  --bg-100-75: rgb(247 244 242 / 0.75);
  --bg-100-80: rgb(247 244 242 / 0.80);
  --bg-100-85: rgb(247 244 242 / 0.85);
  --bg-100-90: rgb(247 244 242 / 0.90);
  --bg-100-95: rgb(247 244 242 / 0.95);
  --bg-200: #E6DFD7;
  --bg-200-05: rgb(230 223 215 / 0.05);
  --bg-200-10: rgb(230 223 215 / 0.10);
  --bg-200-100: rgb(230 223 215 / 1.00);
  --bg-200-15: rgb(230 223 215 / 0.15);
  --bg-200-20: rgb(230 223 215 / 0.20);
  --bg-200-25: rgb(230 223 215 / 0.25);
  --bg-200-30: rgb(230 223 215 / 0.30);
  --bg-200-35: rgb(230 223 215 / 0.35);
  --bg-200-40: rgb(230 223 215 / 0.40);
  --bg-200-45: rgb(230 223 215 / 0.45);
  --bg-200-50: rgb(230 223 215 / 0.50);
  --bg-200-55: rgb(230 223 215 / 0.55);
  --bg-200-60: rgb(230 223 215 / 0.60);
  --bg-200-65: rgb(230 223 215 / 0.65);
  --bg-200-70: rgb(230 223 215 / 0.70);
  --bg-200-75: rgb(230 223 215 / 0.75);
  --bg-200-80: rgb(230 223 215 / 0.80);
  --bg-200-85: rgb(230 223 215 / 0.85);
  --bg-200-90: rgb(230 223 215 / 0.90);
  --bg-200-95: rgb(230 223 215 / 0.95);
  --bg-300: #D5CABC;
  --bg-300-05: rgb(213 202 188 / 0.05);
  --bg-300-10: rgb(213 202 188 / 0.10);
  --bg-300-100: rgb(213 202 188 / 1.00);
  --bg-300-15: rgb(213 202 188 / 0.15);
  --bg-300-20: rgb(213 202 188 / 0.20);
  --bg-300-25: rgb(213 202 188 / 0.25);
  --bg-300-30: rgb(213 202 188 / 0.30);
  --bg-300-35: rgb(213 202 188 / 0.35);
  --bg-300-40: rgb(213 202 188 / 0.40);
  --bg-300-45: rgb(213 202 188 / 0.45);
  --bg-300-50: rgb(213 202 188 / 0.50);
  --bg-300-55: rgb(213 202 188 / 0.55);
  --bg-300-60: rgb(213 202 188 / 0.60);
  --bg-300-65: rgb(213 202 188 / 0.65);
  --bg-300-70: rgb(213 202 188 / 0.70);
  --bg-300-75: rgb(213 202 188 / 0.75);
  --bg-300-80: rgb(213 202 188 / 0.80);
  --bg-300-85: rgb(213 202 188 / 0.85);
  --bg-300-90: rgb(213 202 188 / 0.90);
  --bg-300-95: rgb(213 202 188 / 0.95);
  --bg-400: #C4B4A2;
  --bg-400-05: rgb(196 180 162 / 0.05);
  --bg-400-10: rgb(196 180 162 / 0.10);
  --bg-400-100: rgb(196 180 162 / 1.00);
  --bg-400-15: rgb(196 180 162 / 0.15);
  --bg-400-20: rgb(196 180 162 / 0.20);
  --bg-400-25: rgb(196 180 162 / 0.25);
  --bg-400-30: rgb(196 180 162 / 0.30);
  --bg-400-35: rgb(196 180 162 / 0.35);
  --bg-400-40: rgb(196 180 162 / 0.40);
  --bg-400-45: rgb(196 180 162 / 0.45);
  --bg-400-50: rgb(196 180 162 / 0.50);
  --bg-400-55: rgb(196 180 162 / 0.55);
  --bg-400-60: rgb(196 180 162 / 0.60);
  --bg-400-65: rgb(196 180 162 / 0.65);
  --bg-400-70: rgb(196 180 162 / 0.70);
  --bg-400-75: rgb(196 180 162 / 0.75);
  --bg-400-80: rgb(196 180 162 / 0.80);
  --bg-400-85: rgb(196 180 162 / 0.85);
  --bg-400-90: rgb(196 180 162 / 0.90);
  --bg-400-95: rgb(196 180 162 / 0.95);
  --bg-500: #ab947a;
  --bg-500-05: rgb(171 148 122 / 0.05);
  --bg-500-10: rgb(171 148 122 / 0.10);
  --bg-500-100: rgb(171 148 122 / 1.00);
  --bg-500-15: rgb(171 148 122 / 0.15);
  --bg-500-20: rgb(171 148 122 / 0.20);
  --bg-500-25: rgb(171 148 122 / 0.25);
  --bg-500-30: rgb(171 148 122 / 0.30);
  --bg-500-35: rgb(171 148 122 / 0.35);
  --bg-500-40: rgb(171 148 122 / 0.40);
  --bg-500-45: rgb(171 148 122 / 0.45);
  --bg-500-50: rgb(171 148 122 / 0.50);
  --bg-500-55: rgb(171 148 122 / 0.55);
  --bg-500-60: rgb(171 148 122 / 0.60);
  --bg-500-65: rgb(171 148 122 / 0.65);
  --bg-500-70: rgb(171 148 122 / 0.70);
  --bg-500-75: rgb(171 148 122 / 0.75);
  --bg-500-80: rgb(171 148 122 / 0.80);
  --bg-500-85: rgb(171 148 122 / 0.85);
  --bg-500-90: rgb(171 148 122 / 0.90);
  --bg-500-95: rgb(171 148 122 / 0.95);
  --bg-600: #A08A75;
  --bg-600-05: rgb(160 138 117 / 0.05);
  --bg-600-10: rgb(160 138 117 / 0.10);
  --bg-600-100: rgb(160 138 117 / 1.00);
  --bg-600-15: rgb(160 138 117 / 0.15);
  --bg-600-20: rgb(160 138 117 / 0.20);
  --bg-600-25: rgb(160 138 117 / 0.25);
  --bg-600-30: rgb(160 138 117 / 0.30);
  --bg-600-35: rgb(160 138 117 / 0.35);
  --bg-600-40: rgb(160 138 117 / 0.40);
  --bg-600-45: rgb(160 138 117 / 0.45);
  --bg-600-50: rgb(160 138 117 / 0.50);
  --bg-600-55: rgb(160 138 117 / 0.55);
  --bg-600-60: rgb(160 138 117 / 0.60);
  --bg-600-65: rgb(160 138 117 / 0.65);
  --bg-600-70: rgb(160 138 117 / 0.70);
  --bg-600-75: rgb(160 138 117 / 0.75);
  --bg-600-80: rgb(160 138 117 / 0.80);
  --bg-600-85: rgb(160 138 117 / 0.85);
  --bg-600-90: rgb(160 138 117 / 0.90);
  --bg-600-95: rgb(160 138 117 / 0.95);
  --bg-700: #958170;
  --bg-700-05: rgb(149 129 112 / 0.05);
  --bg-700-10: rgb(149 129 112 / 0.10);
  --bg-700-100: rgb(149 129 112 / 1.00);
  --bg-700-15: rgb(149 129 112 / 0.15);
  --bg-700-20: rgb(149 129 112 / 0.20);
  --bg-700-25: rgb(149 129 112 / 0.25);
  --bg-700-30: rgb(149 129 112 / 0.30);
  --bg-700-35: rgb(149 129 112 / 0.35);
  --bg-700-40: rgb(149 129 112 / 0.40);
  --bg-700-45: rgb(149 129 112 / 0.45);
  --bg-700-50: rgb(149 129 112 / 0.50);
  --bg-700-55: rgb(149 129 112 / 0.55);
  --bg-700-60: rgb(149 129 112 / 0.60);
  --bg-700-65: rgb(149 129 112 / 0.65);
  --bg-700-70: rgb(149 129 112 / 0.70);
  --bg-700-75: rgb(149 129 112 / 0.75);
  --bg-700-80: rgb(149 129 112 / 0.80);
  --bg-700-85: rgb(149 129 112 / 0.85);
  --bg-700-90: rgb(149 129 112 / 0.90);
  --bg-700-95: rgb(149 129 112 / 0.95);
  --bg-800: #8A786A;
  --bg-800-05: rgb(138 120 106 / 0.05);
  --bg-800-10: rgb(138 120 106 / 0.10);
  --bg-800-100: rgb(138 120 106 / 1.00);
  --bg-800-15: rgb(138 120 106 / 0.15);
  --bg-800-20: rgb(138 120 106 / 0.20);
  --bg-800-25: rgb(138 120 106 / 0.25);
  --bg-800-30: rgb(138 120 106 / 0.30);
  --bg-800-35: rgb(138 120 106 / 0.35);
  --bg-800-40: rgb(138 120 106 / 0.40);
  --bg-800-45: rgb(138 120 106 / 0.45);
  --bg-800-50: rgb(138 120 106 / 0.50);
  --bg-800-55: rgb(138 120 106 / 0.55);
  --bg-800-60: rgb(138 120 106 / 0.60);
  --bg-800-65: rgb(138 120 106 / 0.65);
  --bg-800-70: rgb(138 120 106 / 0.70);
  --bg-800-75: rgb(138 120 106 / 0.75);
  --bg-800-80: rgb(138 120 106 / 0.80);
  --bg-800-85: rgb(138 120 106 / 0.85);
  --bg-800-90: rgb(138 120 106 / 0.90);
  --bg-800-95: rgb(138 120 106 / 0.95);
  --bg-900: #7F6E65;
  --bg-900-05: rgb(127 110 101 / 0.05);
  --bg-900-10: rgb(127 110 101 / 0.10);
  --bg-900-100: rgb(127 110 101 / 1.00);
  --bg-900-15: rgb(127 110 101 / 0.15);
  --bg-900-20: rgb(127 110 101 / 0.20);
  --bg-900-25: rgb(127 110 101 / 0.25);
  --bg-900-30: rgb(127 110 101 / 0.30);
  --bg-900-35: rgb(127 110 101 / 0.35);
  --bg-900-40: rgb(127 110 101 / 0.40);
  --bg-900-45: rgb(127 110 101 / 0.45);
  --bg-900-50: rgb(127 110 101 / 0.50);
  --bg-900-55: rgb(127 110 101 / 0.55);
  --bg-900-60: rgb(127 110 101 / 0.60);
  --bg-900-65: rgb(127 110 101 / 0.65);
  --bg-900-70: rgb(127 110 101 / 0.70);
  --bg-900-75: rgb(127 110 101 / 0.75);
  --bg-900-80: rgb(127 110 101 / 0.80);
  --bg-900-85: rgb(127 110 101 / 0.85);
  --bg-900-90: rgb(127 110 101 / 0.90);
  --bg-900-95: rgb(127 110 101 / 0.95);
  --blackest: #3e3546;
  --blackest-05: rgb(62 53 70 / 0.05);
  --blackest-10: rgb(62 53 70 / 0.10);
  --blackest-100: rgb(62 53 70 / 1.00);
  --blackest-15: rgb(62 53 70 / 0.15);
  --blackest-20: rgb(62 53 70 / 0.20);
  --blackest-25: rgb(62 53 70 / 0.25);
  --blackest-30: rgb(62 53 70 / 0.30);
  --blackest-35: rgb(62 53 70 / 0.35);
  --blackest-40: rgb(62 53 70 / 0.40);
  --blackest-45: rgb(62 53 70 / 0.45);
  --blackest-50: rgb(62 53 70 / 0.50);
  --blackest-55: rgb(62 53 70 / 0.55);
  --blackest-60: rgb(62 53 70 / 0.60);
  --blackest-65: rgb(62 53 70 / 0.65);
  --blackest-70: rgb(62 53 70 / 0.70);
  --blackest-75: rgb(62 53 70 / 0.75);
  --blackest-80: rgb(62 53 70 / 0.80);
  --blackest-85: rgb(62 53 70 / 0.85);
  --blackest-90: rgb(62 53 70 / 0.90);
  --blackest-95: rgb(62 53 70 / 0.95);
  --border-radius: 8px;
  --border-thickness: 2px;
  --fg-100: #F9FCFA;
  --fg-100-05: rgb(249 252 250 / 0.05);
  --fg-100-10: rgb(249 252 250 / 0.10);
  --fg-100-100: rgb(249 252 250 / 1.00);
  --fg-100-15: rgb(249 252 250 / 0.15);
  --fg-100-20: rgb(249 252 250 / 0.20);
  --fg-100-25: rgb(249 252 250 / 0.25);
  --fg-100-30: rgb(249 252 250 / 0.30);
  --fg-100-35: rgb(249 252 250 / 0.35);
  --fg-100-40: rgb(249 252 250 / 0.40);
  --fg-100-45: rgb(249 252 250 / 0.45);
  --fg-100-50: rgb(249 252 250 / 0.50);
  --fg-100-55: rgb(249 252 250 / 0.55);
  --fg-100-60: rgb(249 252 250 / 0.60);
  --fg-100-65: rgb(249 252 250 / 0.65);
  --fg-100-70: rgb(249 252 250 / 0.70);
  --fg-100-75: rgb(249 252 250 / 0.75);
  --fg-100-80: rgb(249 252 250 / 0.80);
  --fg-100-85: rgb(249 252 250 / 0.85);
  --fg-100-90: rgb(249 252 250 / 0.90);
  --fg-100-95: rgb(249 252 250 / 0.95);
  --fg-200: #EEF4F1;
  --fg-200-05: rgb(238 244 241 / 0.05);
  --fg-200-10: rgb(238 244 241 / 0.10);
  --fg-200-100: rgb(238 244 241 / 1.00);
  --fg-200-15: rgb(238 244 241 / 0.15);
  --fg-200-20: rgb(238 244 241 / 0.20);
  --fg-200-25: rgb(238 244 241 / 0.25);
  --fg-200-30: rgb(238 244 241 / 0.30);
  --fg-200-35: rgb(238 244 241 / 0.35);
  --fg-200-40: rgb(238 244 241 / 0.40);
  --fg-200-45: rgb(238 244 241 / 0.45);
  --fg-200-50: rgb(238 244 241 / 0.50);
  --fg-200-55: rgb(238 244 241 / 0.55);
  --fg-200-60: rgb(238 244 241 / 0.60);
  --fg-200-65: rgb(238 244 241 / 0.65);
  --fg-200-70: rgb(238 244 241 / 0.70);
  --fg-200-75: rgb(238 244 241 / 0.75);
  --fg-200-80: rgb(238 244 241 / 0.80);
  --fg-200-85: rgb(238 244 241 / 0.85);
  --fg-200-90: rgb(238 244 241 / 0.90);
  --fg-200-95: rgb(238 244 241 / 0.95);
  --fg-300: #E3EEE8;
  --fg-300-05: rgb(227 238 232 / 0.05);
  --fg-300-10: rgb(227 238 232 / 0.10);
  --fg-300-100: rgb(227 238 232 / 1.00);
  --fg-300-15: rgb(227 238 232 / 0.15);
  --fg-300-20: rgb(227 238 232 / 0.20);
  --fg-300-25: rgb(227 238 232 / 0.25);
  --fg-300-30: rgb(227 238 232 / 0.30);
  --fg-300-35: rgb(227 238 232 / 0.35);
  --fg-300-40: rgb(227 238 232 / 0.40);
  --fg-300-45: rgb(227 238 232 / 0.45);
  --fg-300-50: rgb(227 238 232 / 0.50);
  --fg-300-55: rgb(227 238 232 / 0.55);
  --fg-300-60: rgb(227 238 232 / 0.60);
  --fg-300-65: rgb(227 238 232 / 0.65);
  --fg-300-70: rgb(227 238 232 / 0.70);
  --fg-300-75: rgb(227 238 232 / 0.75);
  --fg-300-80: rgb(227 238 232 / 0.80);
  --fg-300-85: rgb(227 238 232 / 0.85);
  --fg-300-90: rgb(227 238 232 / 0.90);
  --fg-300-95: rgb(227 238 232 / 0.95);
  --fg-400: #D8E6DE;
  --fg-400-05: rgb(216 230 222 / 0.05);
  --fg-400-10: rgb(216 230 222 / 0.10);
  --fg-400-100: rgb(216 230 222 / 1.00);
  --fg-400-15: rgb(216 230 222 / 0.15);
  --fg-400-20: rgb(216 230 222 / 0.20);
  --fg-400-25: rgb(216 230 222 / 0.25);
  --fg-400-30: rgb(216 230 222 / 0.30);
  --fg-400-35: rgb(216 230 222 / 0.35);
  --fg-400-40: rgb(216 230 222 / 0.40);
  --fg-400-45: rgb(216 230 222 / 0.45);
  --fg-400-50: rgb(216 230 222 / 0.50);
  --fg-400-55: rgb(216 230 222 / 0.55);
  --fg-400-60: rgb(216 230 222 / 0.60);
  --fg-400-65: rgb(216 230 222 / 0.65);
  --fg-400-70: rgb(216 230 222 / 0.70);
  --fg-400-75: rgb(216 230 222 / 0.75);
  --fg-400-80: rgb(216 230 222 / 0.80);
  --fg-400-85: rgb(216 230 222 / 0.85);
  --fg-400-90: rgb(216 230 222 / 0.90);
  --fg-400-95: rgb(216 230 222 / 0.95);
  --fg-500: #c7dcd0;
  --fg-500-05: rgb(199 220 208 / 0.05);
  --fg-500-10: rgb(199 220 208 / 0.10);
  --fg-500-100: rgb(199 220 208 / 1.00);
  --fg-500-15: rgb(199 220 208 / 0.15);
  --fg-500-20: rgb(199 220 208 / 0.20);
  --fg-500-25: rgb(199 220 208 / 0.25);
  --fg-500-30: rgb(199 220 208 / 0.30);
  --fg-500-35: rgb(199 220 208 / 0.35);
  --fg-500-40: rgb(199 220 208 / 0.40);
  --fg-500-45: rgb(199 220 208 / 0.45);
  --fg-500-50: rgb(199 220 208 / 0.50);
  --fg-500-55: rgb(199 220 208 / 0.55);
  --fg-500-60: rgb(199 220 208 / 0.60);
  --fg-500-65: rgb(199 220 208 / 0.65);
  --fg-500-70: rgb(199 220 208 / 0.70);
  --fg-500-75: rgb(199 220 208 / 0.75);
  --fg-500-80: rgb(199 220 208 / 0.80);
  --fg-500-85: rgb(199 220 208 / 0.85);
  --fg-500-90: rgb(199 220 208 / 0.90);
  --fg-500-95: rgb(199 220 208 / 0.95);
  --fg-600: #B9CBC2;
  --fg-600-05: rgb(185 203 194 / 0.05);
  --fg-600-10: rgb(185 203 194 / 0.10);
  --fg-600-100: rgb(185 203 194 / 1.00);
  --fg-600-15: rgb(185 203 194 / 0.15);
  --fg-600-20: rgb(185 203 194 / 0.20);
  --fg-600-25: rgb(185 203 194 / 0.25);
  --fg-600-30: rgb(185 203 194 / 0.30);
  --fg-600-35: rgb(185 203 194 / 0.35);
  --fg-600-40: rgb(185 203 194 / 0.40);
  --fg-600-45: rgb(185 203 194 / 0.45);
  --fg-600-50: rgb(185 203 194 / 0.50);
  --fg-600-55: rgb(185 203 194 / 0.55);
  --fg-600-60: rgb(185 203 194 / 0.60);
  --fg-600-65: rgb(185 203 194 / 0.65);
  --fg-600-70: rgb(185 203 194 / 0.70);
  --fg-600-75: rgb(185 203 194 / 0.75);
  --fg-600-80: rgb(185 203 194 / 0.80);
  --fg-600-85: rgb(185 203 194 / 0.85);
  --fg-600-90: rgb(185 203 194 / 0.90);
  --fg-600-95: rgb(185 203 194 / 0.95);
  --fg-700: #ACBBB4;
  --fg-700-05: rgb(172 187 180 / 0.05);
  --fg-700-10: rgb(172 187 180 / 0.10);
  --fg-700-100: rgb(172 187 180 / 1.00);
  --fg-700-15: rgb(172 187 180 / 0.15);
  --fg-700-20: rgb(172 187 180 / 0.20);
  --fg-700-25: rgb(172 187 180 / 0.25);
  --fg-700-30: rgb(172 187 180 / 0.30);
  --fg-700-35: rgb(172 187 180 / 0.35);
  --fg-700-40: rgb(172 187 180 / 0.40);
  --fg-700-45: rgb(172 187 180 / 0.45);
  --fg-700-50: rgb(172 187 180 / 0.50);
  --fg-700-55: rgb(172 187 180 / 0.55);
  --fg-700-60: rgb(172 187 180 / 0.60);
  --fg-700-65: rgb(172 187 180 / 0.65);
  --fg-700-70: rgb(172 187 180 / 0.70);
  --fg-700-75: rgb(172 187 180 / 0.75);
  --fg-700-80: rgb(172 187 180 / 0.80);
  --fg-700-85: rgb(172 187 180 / 0.85);
  --fg-700-90: rgb(172 187 180 / 0.90);
  --fg-700-95: rgb(172 187 180 / 0.95);
  --fg-800: #9EAAA7;
  --fg-800-05: rgb(158 170 167 / 0.05);
  --fg-800-10: rgb(158 170 167 / 0.10);
  --fg-800-100: rgb(158 170 167 / 1.00);
  --fg-800-15: rgb(158 170 167 / 0.15);
  --fg-800-20: rgb(158 170 167 / 0.20);
  --fg-800-25: rgb(158 170 167 / 0.25);
  --fg-800-30: rgb(158 170 167 / 0.30);
  --fg-800-35: rgb(158 170 167 / 0.35);
  --fg-800-40: rgb(158 170 167 / 0.40);
  --fg-800-45: rgb(158 170 167 / 0.45);
  --fg-800-50: rgb(158 170 167 / 0.50);
  --fg-800-55: rgb(158 170 167 / 0.55);
  --fg-800-60: rgb(158 170 167 / 0.60);
  --fg-800-65: rgb(158 170 167 / 0.65);
  --fg-800-70: rgb(158 170 167 / 0.70);
  --fg-800-75: rgb(158 170 167 / 0.75);
  --fg-800-80: rgb(158 170 167 / 0.80);
  --fg-800-85: rgb(158 170 167 / 0.85);
  --fg-800-90: rgb(158 170 167 / 0.90);
  --fg-800-95: rgb(158 170 167 / 0.95);
  --fg-900: #909999;
  --fg-900-05: rgb(144 153 153 / 0.05);
  --fg-900-10: rgb(144 153 153 / 0.10);
  --fg-900-100: rgb(144 153 153 / 1.00);
  --fg-900-15: rgb(144 153 153 / 0.15);
  --fg-900-20: rgb(144 153 153 / 0.20);
  --fg-900-25: rgb(144 153 153 / 0.25);
  --fg-900-30: rgb(144 153 153 / 0.30);
  --fg-900-35: rgb(144 153 153 / 0.35);
  --fg-900-40: rgb(144 153 153 / 0.40);
  --fg-900-45: rgb(144 153 153 / 0.45);
  --fg-900-50: rgb(144 153 153 / 0.50);
  --fg-900-55: rgb(144 153 153 / 0.55);
  --fg-900-60: rgb(144 153 153 / 0.60);
  --fg-900-65: rgb(144 153 153 / 0.65);
  --fg-900-70: rgb(144 153 153 / 0.70);
  --fg-900-75: rgb(144 153 153 / 0.75);
  --fg-900-80: rgb(144 153 153 / 0.80);
  --fg-900-85: rgb(144 153 153 / 0.85);
  --fg-900-90: rgb(144 153 153 / 0.90);
  --fg-900-95: rgb(144 153 153 / 0.95);
  --negative-500: #e83b3b;
  --negative-500-05: rgb(232 59 59 / 0.05);
  --negative-500-10: rgb(232 59 59 / 0.10);
  --negative-500-100: rgb(232 59 59 / 1.00);
  --negative-500-15: rgb(232 59 59 / 0.15);
  --negative-500-20: rgb(232 59 59 / 0.20);
  --negative-500-25: rgb(232 59 59 / 0.25);
  --negative-500-30: rgb(232 59 59 / 0.30);
  --negative-500-35: rgb(232 59 59 / 0.35);
  --negative-500-40: rgb(232 59 59 / 0.40);
  --negative-500-45: rgb(232 59 59 / 0.45);
  --negative-500-50: rgb(232 59 59 / 0.50);
  --negative-500-55: rgb(232 59 59 / 0.55);
  --negative-500-60: rgb(232 59 59 / 0.60);
  --negative-500-65: rgb(232 59 59 / 0.65);
  --negative-500-70: rgb(232 59 59 / 0.70);
  --negative-500-75: rgb(232 59 59 / 0.75);
  --negative-500-80: rgb(232 59 59 / 0.80);
  --negative-500-85: rgb(232 59 59 / 0.85);
  --negative-500-90: rgb(232 59 59 / 0.90);
  --negative-500-95: rgb(232 59 59 / 0.95);
  --positive-500: #1ebc73;
  --positive-500-05: rgb(30 188 115 / 0.05);
  --positive-500-10: rgb(30 188 115 / 0.10);
  --positive-500-100: rgb(30 188 115 / 1.00);
  --positive-500-15: rgb(30 188 115 / 0.15);
  --positive-500-20: rgb(30 188 115 / 0.20);
  --positive-500-25: rgb(30 188 115 / 0.25);
  --positive-500-30: rgb(30 188 115 / 0.30);
  --positive-500-35: rgb(30 188 115 / 0.35);
  --positive-500-40: rgb(30 188 115 / 0.40);
  --positive-500-45: rgb(30 188 115 / 0.45);
  --positive-500-50: rgb(30 188 115 / 0.50);
  --positive-500-55: rgb(30 188 115 / 0.55);
  --positive-500-60: rgb(30 188 115 / 0.60);
  --positive-500-65: rgb(30 188 115 / 0.65);
  --positive-500-70: rgb(30 188 115 / 0.70);
  --positive-500-75: rgb(30 188 115 / 0.75);
  --positive-500-80: rgb(30 188 115 / 0.80);
  --positive-500-85: rgb(30 188 115 / 0.85);
  --positive-500-90: rgb(30 188 115 / 0.90);
  --positive-500-95: rgb(30 188 115 / 0.95);
  --whitest: #ffffff;
  --whitest-05: rgb(255 255 255 / 0.05);
  --whitest-10: rgb(255 255 255 / 0.10);
  --whitest-100: rgb(255 255 255 / 1.00);
  --whitest-15: rgb(255 255 255 / 0.15);
  --whitest-20: rgb(255 255 255 / 0.20);
  --whitest-25: rgb(255 255 255 / 0.25);
  --whitest-30: rgb(255 255 255 / 0.30);
  --whitest-35: rgb(255 255 255 / 0.35);
  --whitest-40: rgb(255 255 255 / 0.40);
  --whitest-45: rgb(255 255 255 / 0.45);
  --whitest-50: rgb(255 255 255 / 0.50);
  --whitest-55: rgb(255 255 255 / 0.55);
  --whitest-60: rgb(255 255 255 / 0.60);
  --whitest-65: rgb(255 255 255 / 0.65);
  --whitest-70: rgb(255 255 255 / 0.70);
  --whitest-75: rgb(255 255 255 / 0.75);
  --whitest-80: rgb(255 255 255 / 0.80);
  --whitest-85: rgb(255 255 255 / 0.85);
  --whitest-90: rgb(255 255 255 / 0.90);
  --whitest-95: rgb(255 255 255 / 0.95);
}
